{
    "semijoin_plan": {
        "guard": "dblp22",
        "children": [
            {
                "guard": "dblp25",
                "children": [
                    {
                        "guard": "dblp8",
                        "children": [
                            {
                                "guard": "dblp2",
                                "children": [
                                    {
                                        "guard": "dblp4",
                                        "children": [
                                            {
                                                "guard": "dblp17",
                                                "children": [
                                                    {
                                                        "guard": "dblp24",
                                                        "children": []
                                                    },
                                                    {
                                                        "guard": "dblp20",
                                                        "children": []
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "dblp20": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.006797,
            "actual_rows": 4188737,
            "estimated_cardinality": 5475762,
            "children": [],
            "relation": "dblp20",
            "opt_filter": "s>=1246736 AND s<=3341108 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp20",
                    "field_name": "s"
                }
            ]
        },
        "dblp22": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00657,
            "actual_rows": 4021805,
            "estimated_cardinality": 6432394,
            "children": [],
            "relation": "dblp22",
            "opt_filter": "s>=1206438 AND s<=3341100 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp22",
                    "field_name": "s"
                }
            ]
        },
        "dblp25": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.003872,
            "actual_rows": 5740837,
            "estimated_cardinality": 5740837,
            "children": [],
            "relation": "dblp25",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "dblp25",
                    "field_name": "s"
                }
            ]
        },
        "dblp24": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.004152,
            "actual_rows": 3516249,
            "estimated_cardinality": 3572810,
            "children": [],
            "relation": "dblp24",
            "opt_filter": "s>=1246736 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp24",
                    "field_name": "s"
                }
            ]
        },
        "dblp8": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001002,
            "actual_rows": 2134666,
            "estimated_cardinality": 2134666,
            "children": [],
            "relation": "dblp8",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "dblp8",
                    "field_name": "s"
                }
            ]
        },
        "dblp2": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.007953,
            "actual_rows": 1101791,
            "estimated_cardinality": 3823259,
            "children": [],
            "relation": "dblp2",
            "opt_filter": "d<=3340131 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp2",
                    "field_name": "s"
                },
                {
                    "table_name": "dblp2",
                    "field_name": "d"
                }
            ]
        },
        "dblp17": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00386,
            "actual_rows": 1947952,
            "estimated_cardinality": 1967297,
            "children": [],
            "relation": "dblp17",
            "opt_filter": "s>=1245761 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp17",
                    "field_name": "s"
                },
                {
                    "table_name": "dblp17",
                    "field_name": "d"
                }
            ]
        },
        "dblp4": {
            "name": "FILTER",
            "execution_time": 0.000103,
            "actual_rows": 13492,
            "estimated_cardinality": 217413,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000632,
                    "actual_rows": 27947,
                    "estimated_cardinality": 217413,
                    "children": [],
                    "relation": "dblp4",
                    "opt_filter": "d<=3340551 AND d IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "dblp4",
                            "field_name": "s"
                        },
                        {
                            "table_name": "dblp4",
                            "field_name": "d"
                        }
                    ]
                }
            ],
            "condition": "(dblp4.s >= 2238341)"
        }
    }
}