{
    "semijoin_plan": {
        "guard": "dblp1",
        "children": [
            {
                "guard": "dblp20",
                "children": []
            },
            {
                "guard": "dblp22",
                "children": [
                    {
                        "guard": "dblp23",
                        "children": [
                            {
                                "guard": "dblp5",
                                "children": [
                                    {
                                        "guard": "dblp17",
                                        "children": [
                                            {
                                                "guard": "dblp8",
                                                "children": []
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "dblp1": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.009722,
            "actual_rows": 5785403,
            "estimated_cardinality": 5786368,
            "children": [],
            "relation": "dblp1",
            "opt_filter": "s>=1206438 AND s<=3340551 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp1",
                    "field_name": "s"
                }
            ]
        },
        "dblp20": {
            "name": "FILTER",
            "execution_time": 0.010423,
            "actual_rows": 4268191,
            "estimated_cardinality": 5475762,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.00711,
                    "actual_rows": 4269299,
                    "estimated_cardinality": 5475762,
                    "children": [],
                    "relation": "dblp20",
                    "opt_filter": "s>=1206437 AND s<=3341108 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "dblp20",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(dblp20.s BETWEEN 1206438 AND 3340551)"
        },
        "dblp22": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.007127,
            "actual_rows": 4021767,
            "estimated_cardinality": 6432394,
            "children": [],
            "relation": "dblp22",
            "opt_filter": "s>=1206438 AND s<=3340551 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp22",
                    "field_name": "s"
                }
            ]
        },
        "dblp23": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.007592,
            "actual_rows": 4295891,
            "estimated_cardinality": 4302340,
            "children": [],
            "relation": "dblp23",
            "opt_filter": "s>=1206438 AND s<=3340551 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp23",
                    "field_name": "s"
                }
            ]
        },
        "dblp5": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.003431,
            "actual_rows": 2134108,
            "estimated_cardinality": 2141839,
            "children": [],
            "relation": "dblp5",
            "opt_filter": "s>=1206438 AND s<=3340551 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp5",
                    "field_name": "s"
                }
            ]
        },
        "dblp8": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.002284,
            "actual_rows": 2094373,
            "estimated_cardinality": 2134666,
            "children": [],
            "relation": "dblp8",
            "opt_filter": "s>=1246736 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp8",
                    "field_name": "s"
                }
            ]
        },
        "dblp17": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.003966,
            "actual_rows": 1960215,
            "estimated_cardinality": 1967297,
            "children": [],
            "relation": "dblp17",
            "opt_filter": "d<=3341108 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp17",
                    "field_name": "s"
                },
                {
                    "table_name": "dblp17",
                    "field_name": "d"
                }
            ]
        }
    }
}