{
    "semijoin_plan": {
        "guard": "dblp2",
        "children": [
            {
                "guard": "dblp7",
                "children": [
                    {
                        "guard": "dblp5",
                        "children": [
                            {
                                "guard": "dblp17",
                                "children": [
                                    {
                                        "guard": "dblp8",
                                        "children": []
                                    },
                                    {
                                        "guard": "dblp21",
                                        "children": []
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "dblp2": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.002702,
            "actual_rows": 3823259,
            "estimated_cardinality": 3823259,
            "children": [],
            "relation": "dblp2",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "dblp2",
                    "field_name": "s"
                }
            ]
        },
        "dblp7": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001038,
            "actual_rows": 2134666,
            "estimated_cardinality": 2134666,
            "children": [],
            "relation": "dblp7",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "dblp7",
                    "field_name": "s"
                }
            ]
        },
        "dblp5": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.007574,
            "actual_rows": 641582,
            "estimated_cardinality": 2141839,
            "children": [],
            "relation": "dblp5",
            "opt_filter": "d<=3340551 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp5",
                    "field_name": "s"
                },
                {
                    "table_name": "dblp5",
                    "field_name": "d"
                }
            ]
        },
        "dblp21": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.0021,
            "actual_rows": 2094373,
            "estimated_cardinality": 3343619,
            "children": [],
            "relation": "dblp21",
            "opt_filter": "s>=1246736 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp21",
                    "field_name": "s"
                }
            ]
        },
        "dblp8": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.002108,
            "actual_rows": 2094373,
            "estimated_cardinality": 2134666,
            "children": [],
            "relation": "dblp8",
            "opt_filter": "s>=1246736 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp8",
                    "field_name": "s"
                }
            ]
        },
        "dblp17": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00386,
            "actual_rows": 1960215,
            "estimated_cardinality": 1967297,
            "children": [],
            "relation": "dblp17",
            "opt_filter": "d<=3341108 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp17",
                    "field_name": "s"
                },
                {
                    "table_name": "dblp17",
                    "field_name": "d"
                }
            ]
        }
    }
}