{
    "semijoin_plan": {
        "guard": "dblp22",
        "children": [
            {
                "guard": "dblp7",
                "children": [
                    {
                        "guard": "dblp8",
                        "children": [
                            {
                                "guard": "dblp17",
                                "children": [
                                    {
                                        "guard": "dblp21",
                                        "children": []
                                    },
                                    {
                                        "guard": "dblp24",
                                        "children": []
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "dblp22": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00035,
            "actual_rows": 63513,
            "estimated_cardinality": 6432394,
            "children": [],
            "relation": "dblp22",
            "opt_filter": "s>=1247097 AND s<=1285431 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp22",
                    "field_name": "s"
                }
            ]
        },
        "dblp24": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.006187,
            "actual_rows": 3552256,
            "estimated_cardinality": 3572810,
            "children": [],
            "relation": "dblp24",
            "opt_filter": "s>=1206438 AND s<=3340551 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp24",
                    "field_name": "s"
                }
            ]
        },
        "dblp7": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000164,
            "actual_rows": 38335,
            "estimated_cardinality": 2134666,
            "children": [],
            "relation": "dblp7",
            "opt_filter": "s>=1247097 AND s<=1285431 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp7",
                    "field_name": "s"
                }
            ]
        },
        "dblp8": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.003445,
            "actual_rows": 2094373,
            "estimated_cardinality": 2134666,
            "children": [],
            "relation": "dblp8",
            "opt_filter": "s>=1246736 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp8",
                    "field_name": "s"
                },
                {
                    "table_name": "dblp8",
                    "field_name": "d"
                }
            ]
        },
        "dblp21": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.003121,
            "actual_rows": 2134108,
            "estimated_cardinality": 3343619,
            "children": [],
            "relation": "dblp21",
            "opt_filter": "s>=1206438 AND s<=3340551 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp21",
                    "field_name": "s"
                }
            ]
        },
        "dblp17": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.003881,
            "actual_rows": 1960215,
            "estimated_cardinality": 1967297,
            "children": [],
            "relation": "dblp17",
            "opt_filter": "d<=3341108 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp17",
                    "field_name": "s"
                },
                {
                    "table_name": "dblp17",
                    "field_name": "d"
                }
            ]
        }
    }
}