{
    "semijoin_plan": {
        "guard": "dblp1",
        "children": [
            {
                "guard": "dblp23",
                "children": []
            },
            {
                "guard": "dblp25",
                "children": [
                    {
                        "guard": "dblp9",
                        "children": [
                            {
                                "guard": "dblp5",
                                "children": [
                                    {
                                        "guard": "dblp8",
                                        "children": []
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "dblp1": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.010016,
            "actual_rows": 5786368,
            "estimated_cardinality": 5786368,
            "children": [],
            "relation": "dblp1",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "dblp1",
                    "field_name": "s"
                },
                {
                    "table_name": "dblp1",
                    "field_name": "d"
                }
            ]
        },
        "dblp23": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.004955,
            "actual_rows": 4297008,
            "estimated_cardinality": 4302340,
            "children": [],
            "relation": "dblp23",
            "opt_filter": "s>=1206437 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp23",
                    "field_name": "s"
                }
            ]
        },
        "dblp25": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.011167,
            "actual_rows": 5739908,
            "estimated_cardinality": 5740837,
            "children": [],
            "relation": "dblp25",
            "opt_filter": "s<=3340551 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp25",
                    "field_name": "d"
                },
                {
                    "table_name": "dblp25",
                    "field_name": "s"
                }
            ]
        },
        "dblp8": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001972,
            "actual_rows": 2095373,
            "estimated_cardinality": 2134666,
            "children": [],
            "relation": "dblp8",
            "opt_filter": "s>=1245736 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp8",
                    "field_name": "s"
                }
            ]
        },
        "dblp5": {
            "name": "FILTER",
            "execution_time": 0.000166,
            "actual_rows": 11409,
            "estimated_cardinality": 2141839,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000221,
                    "actual_rows": 39264,
                    "estimated_cardinality": 2141839,
                    "children": [],
                    "relation": "dblp5",
                    "opt_filter": "s>=1206437 AND s<=1245700 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "dblp5",
                            "field_name": "s"
                        },
                        {
                            "table_name": "dblp5",
                            "field_name": "d"
                        }
                    ]
                }
            ],
            "condition": "(dblp5.d <= 3341108)"
        },
        "dblp9": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001527,
            "actual_rows": 1115090,
            "estimated_cardinality": 1115090,
            "children": [],
            "relation": "dblp9",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "dblp9",
                    "field_name": "s"
                },
                {
                    "table_name": "dblp9",
                    "field_name": "d"
                }
            ]
        }
    }
}