{
    "semijoin_plan": {
        "guard": "dblp5",
        "children": [
            {
                "guard": "dblp24",
                "children": [
                    {
                        "guard": "dblp22",
                        "children": [
                            {
                                "guard": "dblp1",
                                "children": [
                                    {
                                        "guard": "dblp12",
                                        "children": [
                                            {
                                                "guard": "dblp21",
                                                "children": [
                                                    {
                                                        "guard": "dblp17",
                                                        "children": []
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "dblp5": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001009,
            "actual_rows": 2141839,
            "estimated_cardinality": 2141839,
            "children": [],
            "relation": "dblp5",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "dblp5",
                    "field_name": "s"
                }
            ]
        },
        "dblp24": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.008792,
            "actual_rows": 3572684,
            "estimated_cardinality": 3572810,
            "children": [],
            "relation": "dblp24",
            "opt_filter": "d>=8758716 AND d<=23285383 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp24",
                    "field_name": "s"
                },
                {
                    "table_name": "dblp24",
                    "field_name": "d"
                }
            ]
        },
        "dblp22": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.007749,
            "actual_rows": 4021814,
            "estimated_cardinality": 6432394,
            "children": [],
            "relation": "dblp22",
            "opt_filter": "s>=1206437 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp22",
                    "field_name": "d"
                },
                {
                    "table_name": "dblp22",
                    "field_name": "s"
                }
            ]
        },
        "dblp1": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.013116,
            "actual_rows": 5785775,
            "estimated_cardinality": 5786368,
            "children": [],
            "relation": "dblp1",
            "opt_filter": "d>=118 AND d<=1201758 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp1",
                    "field_name": "s"
                },
                {
                    "table_name": "dblp1",
                    "field_name": "d"
                }
            ]
        },
        "dblp17": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.002367,
            "actual_rows": 1947965,
            "estimated_cardinality": 1967297,
            "children": [],
            "relation": "dblp17",
            "opt_filter": "s>=1245736 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "dblp17",
                    "field_name": "s"
                }
            ]
        },
        "dblp21": {
            "name": "FILTER",
            "execution_time": 0.009122,
            "actual_rows": 640075,
            "estimated_cardinality": 3343619,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.00385,
                    "actual_rows": 2134666,
                    "estimated_cardinality": 3343619,
                    "children": [],
                    "relation": "dblp21",
                    "opt_filter": "s>=1206437 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "dblp21",
                            "field_name": "s"
                        },
                        {
                            "table_name": "dblp21",
                            "field_name": "d"
                        }
                    ]
                }
            ],
            "condition": "(dblp21.d <= 3340551)"
        },
        "dblp12": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 8.8e-05,
            "actual_rows": 45531,
            "estimated_cardinality": 45531,
            "children": [],
            "relation": "dblp12",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "dblp12",
                    "field_name": "d"
                },
                {
                    "table_name": "dblp12",
                    "field_name": "s"
                }
            ]
        }
    }
}