{
    "semijoin_plan": {
        "guard": "epinions75925",
        "children": [
            {
                "guard": "epinions75934",
                "children": []
            },
            {
                "guard": "epinions75893",
                "children": [
                    {
                        "guard": "epinions75888",
                        "children": [
                            {
                                "guard": "epinions75936",
                                "children": [
                                    {
                                        "guard": "epinions75891",
                                        "children": [
                                            {
                                                "guard": "epinions75915",
                                                "children": []
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "epinions75925": {
            "name": "FILTER",
            "execution_time": 1.6e-05,
            "actual_rows": 10453,
            "estimated_cardinality": 10454,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 2.1e-05,
                    "actual_rows": 10453,
                    "estimated_cardinality": 10454,
                    "children": [],
                    "relation": "epinions75925",
                    "opt_filter": "s<=75868 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75925",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(epinions75925.s <= 75816)"
        },
        "epinions75934": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.5e-05,
            "actual_rows": 10052,
            "estimated_cardinality": 10054,
            "children": [],
            "relation": "epinions75934",
            "opt_filter": "d<=75816 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75934",
                    "field_name": "d"
                }
            ]
        },
        "epinions75893": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.9e-05,
            "actual_rows": 10295,
            "estimated_cardinality": 10295,
            "children": [],
            "relation": "epinions75893",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75893",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75893",
                    "field_name": "d"
                }
            ]
        },
        "epinions75888": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.5e-05,
            "actual_rows": 10149,
            "estimated_cardinality": 10155,
            "children": [],
            "relation": "epinions75888",
            "opt_filter": "d<=75771 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75888",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75888",
                    "field_name": "d"
                }
            ]
        },
        "epinions75891": {
            "name": "FILTER",
            "execution_time": 1.7e-05,
            "actual_rows": 10118,
            "estimated_cardinality": 10120,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 2.7e-05,
                    "actual_rows": 10119,
                    "estimated_cardinality": 10120,
                    "children": [],
                    "relation": "epinions75891",
                    "opt_filter": "d<=75826 AND d IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75891",
                            "field_name": "s"
                        },
                        {
                            "table_name": "epinions75891",
                            "field_name": "d"
                        }
                    ]
                }
            ],
            "condition": "(epinions75891.s <= 75846)"
        },
        "epinions75936": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.5e-05,
            "actual_rows": 9999,
            "estimated_cardinality": 9999,
            "children": [],
            "relation": "epinions75936",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75936",
                    "field_name": "d"
                },
                {
                    "table_name": "epinions75936",
                    "field_name": "s"
                }
            ]
        },
        "epinions75915": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1e-05,
            "actual_rows": 10266,
            "estimated_cardinality": 10266,
            "children": [],
            "relation": "epinions75915",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75915",
                    "field_name": "d"
                }
            ]
        }
    }
}