{
    "semijoin_plan": {
        "guard": "epinions75919",
        "children": [
            {
                "guard": "epinions75918",
                "children": [
                    {
                        "guard": "epinions75930",
                        "children": [
                            {
                                "guard": "epinions75929",
                                "children": []
                            }
                        ]
                    }
                ]
            },
            {
                "guard": "epinions75892",
                "children": [
                    {
                        "guard": "epinions75921",
                        "children": []
                    }
                ]
            }
        ]
    },
    "replacements": {
        "epinions75919": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2e-05,
            "actual_rows": 10214,
            "estimated_cardinality": 10214,
            "children": [],
            "relation": "epinions75919",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75919",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75919",
                    "field_name": "d"
                }
            ]
        },
        "epinions75918": {
            "name": "FILTER",
            "execution_time": 1.4e-05,
            "actual_rows": 10161,
            "estimated_cardinality": 10162,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 2.3e-05,
                    "actual_rows": 10161,
                    "estimated_cardinality": 10162,
                    "children": [],
                    "relation": "epinions75918",
                    "opt_filter": "s<=75871 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75918",
                            "field_name": "s"
                        },
                        {
                            "table_name": "epinions75918",
                            "field_name": "d"
                        }
                    ]
                }
            ],
            "condition": "(epinions75918.d <= 75871)"
        },
        "epinions75930": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.7e-05,
            "actual_rows": 10201,
            "estimated_cardinality": 10201,
            "children": [],
            "relation": "epinions75930",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75930",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75930",
                    "field_name": "d"
                }
            ]
        },
        "epinions75929": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.6e-05,
            "actual_rows": 10168,
            "estimated_cardinality": 10169,
            "children": [],
            "relation": "epinions75929",
            "opt_filter": "s<=75842 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75929",
                    "field_name": "s"
                }
            ]
        },
        "epinions75892": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.1e-05,
            "actual_rows": 10307,
            "estimated_cardinality": 10307,
            "children": [],
            "relation": "epinions75892",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75892",
                    "field_name": "s"
                }
            ]
        },
        "epinions75921": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.9e-05,
            "actual_rows": 10065,
            "estimated_cardinality": 10066,
            "children": [],
            "relation": "epinions75921",
            "opt_filter": "s<=75812 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75921",
                    "field_name": "s"
                }
            ]
        }
    }
}