{
    "semijoin_plan": {
        "guard": "epinions75892",
        "children": [
            {
                "guard": "epinions75932",
                "children": [
                    {
                        "guard": "epinions75909",
                        "children": [
                            {
                                "guard": "epinions75890",
                                "children": []
                            }
                        ]
                    }
                ]
            },
            {
                "guard": "epinions75915",
                "children": [
                    {
                        "guard": "epinions75931",
                        "children": [
                            {
                                "guard": "epinions75919",
                                "children": [
                                    {
                                        "guard": "epinions75922",
                                        "children": []
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "epinions75909": {
            "name": "FILTER",
            "execution_time": 2e-05,
            "actual_rows": 10048,
            "estimated_cardinality": 10049,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 3.9e-05,
                    "actual_rows": 10048,
                    "estimated_cardinality": 10049,
                    "children": [],
                    "relation": "epinions75909",
                    "opt_filter": "s<=75876 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75909",
                            "field_name": "s"
                        },
                        {
                            "table_name": "epinions75909",
                            "field_name": "d"
                        }
                    ]
                }
            ],
            "condition": "(epinions75909.d <= 75865)"
        },
        "epinions75890": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 8e-06,
            "actual_rows": 10023,
            "estimated_cardinality": 10023,
            "children": [],
            "relation": "epinions75890",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75890",
                    "field_name": "d"
                }
            ]
        },
        "epinions75892": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.7e-05,
            "actual_rows": 10307,
            "estimated_cardinality": 10307,
            "children": [],
            "relation": "epinions75892",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75892",
                    "field_name": "d"
                },
                {
                    "table_name": "epinions75892",
                    "field_name": "s"
                }
            ]
        },
        "epinions75932": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.2e-05,
            "actual_rows": 10082,
            "estimated_cardinality": 10085,
            "children": [],
            "relation": "epinions75932",
            "opt_filter": "d<=75791 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75932",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75932",
                    "field_name": "d"
                }
            ]
        },
        "epinions75915": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.5e-05,
            "actual_rows": 10265,
            "estimated_cardinality": 10266,
            "children": [],
            "relation": "epinions75915",
            "opt_filter": "s<=75812 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75915",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75915",
                    "field_name": "d"
                }
            ]
        },
        "epinions75931": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.3e-05,
            "actual_rows": 10039,
            "estimated_cardinality": 10040,
            "children": [],
            "relation": "epinions75931",
            "opt_filter": "d<=75846 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75931",
                    "field_name": "d"
                },
                {
                    "table_name": "epinions75931",
                    "field_name": "s"
                }
            ]
        },
        "epinions75919": {
            "name": "FILTER",
            "execution_time": 3.2e-05,
            "actual_rows": 10205,
            "estimated_cardinality": 10214,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 1.7e-05,
                    "actual_rows": 10212,
                    "estimated_cardinality": 10214,
                    "children": [],
                    "relation": "epinions75919",
                    "opt_filter": "s<=75843 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75919",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(epinions75919.s BETWEEN 1 AND 75791)"
        },
        "epinions75922": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.5e-05,
            "actual_rows": 10202,
            "estimated_cardinality": 10209,
            "children": [],
            "relation": "epinions75922",
            "opt_filter": "s>=1 AND s<=75791 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75922",
                    "field_name": "s"
                }
            ]
        }
    }
}