{
    "semijoin_plan": {
        "guard": "epinions75911",
        "children": [
            {
                "guard": "epinions75890",
                "children": []
            },
            {
                "guard": "epinions75901",
                "children": [
                    {
                        "guard": "epinions75904",
                        "children": [
                            {
                                "guard": "epinions75925",
                                "children": [
                                    {
                                        "guard": "epinions75895",
                                        "children": []
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "epinions75911": {
            "name": "FILTER",
            "execution_time": 1.7e-05,
            "actual_rows": 10089,
            "estimated_cardinality": 10090,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000344,
                    "actual_rows": 10089,
                    "estimated_cardinality": 10090,
                    "children": [],
                    "relation": "epinions75911",
                    "opt_filter": "s<=75871 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75911",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(epinions75911.s <= 75864)"
        },
        "epinions75890": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.004918,
            "actual_rows": 10022,
            "estimated_cardinality": 10023,
            "children": [],
            "relation": "epinions75890",
            "opt_filter": "s<=75864 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75890",
                    "field_name": "s"
                }
            ]
        },
        "epinions75925": {
            "name": "FILTER",
            "execution_time": 1.8e-05,
            "actual_rows": 10449,
            "estimated_cardinality": 10454,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 2.2e-05,
                    "actual_rows": 10453,
                    "estimated_cardinality": 10454,
                    "children": [],
                    "relation": "epinions75925",
                    "opt_filter": "s<=75850 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75925",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(epinions75925.s <= 75690)"
        },
        "epinions75895": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.5e-05,
            "actual_rows": 10177,
            "estimated_cardinality": 10180,
            "children": [],
            "relation": "epinions75895",
            "opt_filter": "s<=75690 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75895",
                    "field_name": "s"
                }
            ]
        },
        "epinions75901": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000803,
            "actual_rows": 10180,
            "estimated_cardinality": 10180,
            "children": [],
            "relation": "epinions75901",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75901",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75901",
                    "field_name": "d"
                }
            ]
        },
        "epinions75904": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.4e-05,
            "actual_rows": 10174,
            "estimated_cardinality": 10176,
            "children": [],
            "relation": "epinions75904",
            "opt_filter": "s<=75845 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75904",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75904",
                    "field_name": "d"
                }
            ]
        }
    }
}