{
    "semijoin_plan": {
        "guard": "epinions75898",
        "children": [
            {
                "guard": "epinions75890",
                "children": [
                    {
                        "guard": "epinions75930",
                        "children": [
                            {
                                "guard": "epinions75919",
                                "children": []
                            }
                        ]
                    }
                ]
            },
            {
                "guard": "epinions75897",
                "children": [
                    {
                        "guard": "epinions75921",
                        "children": [
                            {
                                "guard": "epinions75889",
                                "children": []
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "epinions75898": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2e-05,
            "actual_rows": 10182,
            "estimated_cardinality": 10182,
            "children": [],
            "relation": "epinions75898",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75898",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75898",
                    "field_name": "d"
                }
            ]
        },
        "epinions75890": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.3e-05,
            "actual_rows": 10021,
            "estimated_cardinality": 10023,
            "children": [],
            "relation": "epinions75890",
            "opt_filter": "d<=75795 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75890",
                    "field_name": "d"
                },
                {
                    "table_name": "epinions75890",
                    "field_name": "s"
                }
            ]
        },
        "epinions75919": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.8e-05,
            "actual_rows": 10212,
            "estimated_cardinality": 10214,
            "children": [],
            "relation": "epinions75919",
            "opt_filter": "s<=75842 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75919",
                    "field_name": "s"
                }
            ]
        },
        "epinions75930": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.6e-05,
            "actual_rows": 10201,
            "estimated_cardinality": 10201,
            "children": [],
            "relation": "epinions75930",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75930",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75930",
                    "field_name": "d"
                }
            ]
        },
        "epinions75897": {
            "name": "FILTER",
            "execution_time": 1.7e-05,
            "actual_rows": 10066,
            "estimated_cardinality": 10068,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 2.6e-05,
                    "actual_rows": 10067,
                    "estimated_cardinality": 10068,
                    "children": [],
                    "relation": "epinions75897",
                    "opt_filter": "d<=75804 AND d IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75897",
                            "field_name": "d"
                        },
                        {
                            "table_name": "epinions75897",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(epinions75897.s <= 75841)"
        },
        "epinions75921": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.4e-05,
            "actual_rows": 10065,
            "estimated_cardinality": 10066,
            "children": [],
            "relation": "epinions75921",
            "opt_filter": "s<=75828 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75921",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75921",
                    "field_name": "d"
                }
            ]
        },
        "epinions75889": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.1e-05,
            "actual_rows": 10178,
            "estimated_cardinality": 10178,
            "children": [],
            "relation": "epinions75889",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75889",
                    "field_name": "s"
                }
            ]
        }
    }
}