{
    "semijoin_plan": {
        "guard": "epinions75899",
        "children": [
            {
                "guard": "epinions75905",
                "children": [
                    {
                        "guard": "epinions75904",
                        "children": [
                            {
                                "guard": "epinions75909",
                                "children": [
                                    {
                                        "guard": "epinions75915",
                                        "children": []
                                    }
                                ]
                            }
                        ]
                    }
                ]
            },
            {
                "guard": "epinions75930",
                "children": [
                    {
                        "guard": "epinions75933",
                        "children": []
                    }
                ]
            }
        ]
    },
    "replacements": {
        "epinions75899": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 3.3e-05,
            "actual_rows": 10289,
            "estimated_cardinality": 10290,
            "children": [],
            "relation": "epinions75899",
            "opt_filter": "s<=75874 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75899",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75899",
                    "field_name": "d"
                }
            ]
        },
        "epinions75905": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.6e-05,
            "actual_rows": 10101,
            "estimated_cardinality": 10101,
            "children": [],
            "relation": "epinions75905",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75905",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75905",
                    "field_name": "d"
                }
            ]
        },
        "epinions75930": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.6e-05,
            "actual_rows": 10200,
            "estimated_cardinality": 10201,
            "children": [],
            "relation": "epinions75930",
            "opt_filter": "d<=75836 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75930",
                    "field_name": "d"
                }
            ]
        },
        "epinions75933": {
            "name": "FILTER",
            "execution_time": 1.3e-05,
            "actual_rows": 10012,
            "estimated_cardinality": 10013,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 1.5e-05,
                    "actual_rows": 10012,
                    "estimated_cardinality": 10013,
                    "children": [],
                    "relation": "epinions75933",
                    "opt_filter": "s<=75842 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75933",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(epinions75933.s <= 75836)"
        },
        "epinions75904": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.8e-05,
            "actual_rows": 10176,
            "estimated_cardinality": 10176,
            "children": [],
            "relation": "epinions75904",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75904",
                    "field_name": "d"
                },
                {
                    "table_name": "epinions75904",
                    "field_name": "s"
                }
            ]
        },
        "epinions75909": {
            "name": "FILTER",
            "execution_time": 1.4e-05,
            "actual_rows": 10043,
            "estimated_cardinality": 10049,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 2.4e-05,
                    "actual_rows": 10043,
                    "estimated_cardinality": 10049,
                    "children": [],
                    "relation": "epinions75909",
                    "opt_filter": "d<=75690 AND d IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75909",
                            "field_name": "s"
                        },
                        {
                            "table_name": "epinions75909",
                            "field_name": "d"
                        }
                    ]
                }
            ],
            "condition": "(epinions75909.s <= 75846)"
        },
        "epinions75915": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1e-05,
            "actual_rows": 10266,
            "estimated_cardinality": 10266,
            "children": [],
            "relation": "epinions75915",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75915",
                    "field_name": "d"
                }
            ]
        }
    }
}