{
    "semijoin_plan": {
        "guard": "epinions75910",
        "children": [
            {
                "guard": "epinions75933",
                "children": [
                    {
                        "guard": "epinions75920",
                        "children": [
                            {
                                "guard": "epinions75932",
                                "children": []
                            }
                        ]
                    }
                ]
            },
            {
                "guard": "epinions75904",
                "children": [
                    {
                        "guard": "epinions75934",
                        "children": []
                    }
                ]
            }
        ]
    },
    "replacements": {
        "epinions75920": {
            "name": "FILTER",
            "execution_time": 1.9e-05,
            "actual_rows": 10088,
            "estimated_cardinality": 10090,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 2.1e-05,
                    "actual_rows": 10089,
                    "estimated_cardinality": 10090,
                    "children": [],
                    "relation": "epinions75920",
                    "opt_filter": "s<=75865 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75920",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(epinions75920.s <= 75852)"
        },
        "epinions75932": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001288,
            "actual_rows": 10084,
            "estimated_cardinality": 10085,
            "children": [],
            "relation": "epinions75932",
            "opt_filter": "s<=75852 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75932",
                    "field_name": "s"
                }
            ]
        },
        "epinions75910": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001089,
            "actual_rows": 10257,
            "estimated_cardinality": 10258,
            "children": [],
            "relation": "epinions75910",
            "opt_filter": "s<=75825 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75910",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75910",
                    "field_name": "d"
                }
            ]
        },
        "epinions75933": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.005668,
            "actual_rows": 10013,
            "estimated_cardinality": 10013,
            "children": [],
            "relation": "epinions75933",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75933",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75933",
                    "field_name": "d"
                }
            ]
        },
        "epinions75904": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001242,
            "actual_rows": 10174,
            "estimated_cardinality": 10176,
            "children": [],
            "relation": "epinions75904",
            "opt_filter": "s<=75794 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75904",
                    "field_name": "s"
                }
            ]
        },
        "epinions75934": {
            "name": "FILTER",
            "execution_time": 1.6e-05,
            "actual_rows": 10049,
            "estimated_cardinality": 10054,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 1.9e-05,
                    "actual_rows": 10051,
                    "estimated_cardinality": 10054,
                    "children": [],
                    "relation": "epinions75934",
                    "opt_filter": "s<=75859 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75934",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(epinions75934.s <= 75794)"
        }
    }
}