{
    "semijoin_plan": {
        "guard": "epinions75899",
        "children": [
            {
                "guard": "epinions75889",
                "children": []
            },
            {
                "guard": "epinions75907",
                "children": [
                    {
                        "guard": "epinions75935",
                        "children": [
                            {
                                "guard": "epinions75916",
                                "children": [
                                    {
                                        "guard": "epinions75936",
                                        "children": []
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "epinions75899": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.5e-05,
            "actual_rows": 10289,
            "estimated_cardinality": 10290,
            "children": [],
            "relation": "epinions75899",
            "opt_filter": "s<=75828 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75899",
                    "field_name": "s"
                }
            ]
        },
        "epinions75889": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.005154,
            "actual_rows": 10178,
            "estimated_cardinality": 10178,
            "children": [],
            "relation": "epinions75889",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75889",
                    "field_name": "s"
                }
            ]
        },
        "epinions75907": {
            "name": "FILTER",
            "execution_time": 1.7e-05,
            "actual_rows": 10365,
            "estimated_cardinality": 10366,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 2.5e-05,
                    "actual_rows": 10365,
                    "estimated_cardinality": 10366,
                    "children": [],
                    "relation": "epinions75907",
                    "opt_filter": "s<=75872 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75907",
                            "field_name": "s"
                        },
                        {
                            "table_name": "epinions75907",
                            "field_name": "d"
                        }
                    ]
                }
            ],
            "condition": "(epinions75907.d <= 75828)"
        },
        "epinions75935": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.6e-05,
            "actual_rows": 10301,
            "estimated_cardinality": 10301,
            "children": [],
            "relation": "epinions75935",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75935",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75935",
                    "field_name": "d"
                }
            ]
        },
        "epinions75916": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.1e-05,
            "actual_rows": 10167,
            "estimated_cardinality": 10169,
            "children": [],
            "relation": "epinions75916",
            "opt_filter": "s<=75829 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75916",
                    "field_name": "s"
                }
            ]
        },
        "epinions75936": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1e-05,
            "actual_rows": 9999,
            "estimated_cardinality": 9999,
            "children": [],
            "relation": "epinions75936",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75936",
                    "field_name": "s"
                }
            ]
        }
    }
}