{
    "semijoin_plan": {
        "guard": "epinions75926",
        "children": [
            {
                "guard": "epinions75920",
                "children": [
                    {
                        "guard": "epinions75897",
                        "children": [
                            {
                                "guard": "epinions75921",
                                "children": []
                            }
                        ]
                    }
                ]
            },
            {
                "guard": "epinions75894",
                "children": [
                    {
                        "guard": "epinions75912",
                        "children": []
                    }
                ]
            }
        ]
    },
    "replacements": {
        "epinions75926": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.2e-05,
            "actual_rows": 10203,
            "estimated_cardinality": 10203,
            "children": [],
            "relation": "epinions75926",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75926",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75926",
                    "field_name": "d"
                }
            ]
        },
        "epinions75920": {
            "name": "FILTER",
            "execution_time": 1.5e-05,
            "actual_rows": 10088,
            "estimated_cardinality": 10090,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 2.3e-05,
                    "actual_rows": 10088,
                    "estimated_cardinality": 10090,
                    "children": [],
                    "relation": "epinions75920",
                    "opt_filter": "s<=75847 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75920",
                            "field_name": "s"
                        },
                        {
                            "table_name": "epinions75920",
                            "field_name": "d"
                        }
                    ]
                }
            ],
            "condition": "(epinions75920.d <= 75851)"
        },
        "epinions75897": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000941,
            "actual_rows": 10066,
            "estimated_cardinality": 10068,
            "children": [],
            "relation": "epinions75897",
            "opt_filter": "s<=75851 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75897",
                    "field_name": "s"
                }
            ]
        },
        "epinions75921": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000683,
            "actual_rows": 10066,
            "estimated_cardinality": 10066,
            "children": [],
            "relation": "epinions75921",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75921",
                    "field_name": "s"
                }
            ]
        },
        "epinions75894": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000695,
            "actual_rows": 10469,
            "estimated_cardinality": 10470,
            "children": [],
            "relation": "epinions75894",
            "opt_filter": "s<=75769 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75894",
                    "field_name": "s"
                }
            ]
        },
        "epinions75912": {
            "name": "FILTER",
            "execution_time": 1.6e-05,
            "actual_rows": 10064,
            "estimated_cardinality": 10067,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.005012,
                    "actual_rows": 10065,
                    "estimated_cardinality": 10067,
                    "children": [],
                    "relation": "epinions75912",
                    "opt_filter": "s<=75806 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75912",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(epinions75912.s <= 75769)"
        }
    }
}