{
    "semijoin_plan": {
        "guard": "epinions75929",
        "children": [
            {
                "guard": "epinions75909",
                "children": []
            },
            {
                "guard": "epinions75893",
                "children": []
            },
            {
                "guard": "epinions75908",
                "children": [
                    {
                        "guard": "epinions75911",
                        "children": [
                            {
                                "guard": "epinions75915",
                                "children": [
                                    {
                                        "guard": "epinions75910",
                                        "children": []
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "epinions75929": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.4e-05,
            "actual_rows": 10167,
            "estimated_cardinality": 10169,
            "children": [],
            "relation": "epinions75929",
            "opt_filter": "s<=75771 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75929",
                    "field_name": "s"
                }
            ]
        },
        "epinions75909": {
            "name": "FILTER",
            "execution_time": 1.7e-05,
            "actual_rows": 10046,
            "estimated_cardinality": 10049,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 2.3e-05,
                    "actual_rows": 10048,
                    "estimated_cardinality": 10049,
                    "children": [],
                    "relation": "epinions75909",
                    "opt_filter": "s<=75873 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75909",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(epinions75909.s <= 75771)"
        },
        "epinions75893": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.2e-05,
            "actual_rows": 10295,
            "estimated_cardinality": 10295,
            "children": [],
            "relation": "epinions75893",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75893",
                    "field_name": "s"
                }
            ]
        },
        "epinions75915": {
            "name": "FILTER",
            "execution_time": 1.6e-05,
            "actual_rows": 10262,
            "estimated_cardinality": 10266,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 2e-05,
                    "actual_rows": 10265,
                    "estimated_cardinality": 10266,
                    "children": [],
                    "relation": "epinions75915",
                    "opt_filter": "s<=75845 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "epinions75915",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(epinions75915.s <= 75644)"
        },
        "epinions75910": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.7e-05,
            "actual_rows": 10255,
            "estimated_cardinality": 10258,
            "children": [],
            "relation": "epinions75910",
            "opt_filter": "s<=75644 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75910",
                    "field_name": "s"
                }
            ]
        },
        "epinions75908": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.9e-05,
            "actual_rows": 10192,
            "estimated_cardinality": 10192,
            "children": [],
            "relation": "epinions75908",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "epinions75908",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75908",
                    "field_name": "d"
                }
            ]
        },
        "epinions75911": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.7e-05,
            "actual_rows": 10089,
            "estimated_cardinality": 10090,
            "children": [],
            "relation": "epinions75911",
            "opt_filter": "s<=75868 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "epinions75911",
                    "field_name": "s"
                },
                {
                    "table_name": "epinions75911",
                    "field_name": "d"
                }
            ]
        }
    }
}