{
    "semijoin_plan": {
        "guard": "imdb100",
        "children": [
            {
                "guard": "imdb121",
                "children": [
                    {
                        "guard": "imdb9",
                        "children": [
                            {
                                "guard": "imdb11",
                                "children": []
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "imdb100": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.004083,
            "actual_rows": 4520446,
            "estimated_cardinality": 4520446,
            "children": [],
            "relation": "imdb100",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "imdb100",
                    "field_name": "d"
                }
            ]
        },
        "imdb121": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001557,
            "actual_rows": 1093365,
            "estimated_cardinality": 1093367,
            "children": [],
            "relation": "imdb121",
            "opt_filter": "d>=6 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb121",
                    "field_name": "d"
                }
            ]
        },
        "imdb9": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001504,
            "actual_rows": 802137,
            "estimated_cardinality": 802140,
            "children": [],
            "relation": "imdb9",
            "opt_filter": "s>=6 AND s<=2525974 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb9",
                    "field_name": "s"
                }
            ]
        },
        "imdb11": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000265,
            "actual_rows": 328857,
            "estimated_cardinality": 328857,
            "children": [],
            "relation": "imdb11",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "imdb11",
                    "field_name": "s"
                }
            ]
        }
    }
}