{
    "semijoin_plan": {
        "guard": "imdb117",
        "children": [
            {
                "guard": "imdb76",
                "children": [
                    {
                        "guard": "imdb69",
                        "children": []
                    }
                ]
            }
        ]
    },
    "replacements": {
        "imdb117": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.021953,
            "actual_rows": 12321306,
            "estimated_cardinality": 12330537,
            "children": [],
            "relation": "imdb117",
            "opt_filter": "d>=1559 AND d<=2525392 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb117",
                    "field_name": "d"
                }
            ]
        },
        "imdb76": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 7e-06,
            "actual_rows": 6621,
            "estimated_cardinality": 6621,
            "children": [],
            "relation": "imdb76",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "imdb76",
                    "field_name": "s"
                }
            ]
        },
        "imdb69": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 8e-06,
            "actual_rows": 6575,
            "estimated_cardinality": 6575,
            "children": [],
            "relation": "imdb69",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "imdb69",
                    "field_name": "s"
                }
            ]
        }
    }
}