{
    "semijoin_plan": {
        "guard": "imdb117",
        "children": [
            {
                "guard": "imdb10",
                "children": [
                    {
                        "guard": "imdb88",
                        "children": []
                    }
                ]
            }
        ]
    },
    "replacements": {
        "imdb117": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.022161,
            "actual_rows": 12255777,
            "estimated_cardinality": 12330537,
            "children": [],
            "relation": "imdb117",
            "opt_filter": "d>=14776 AND d<=2524230 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb117",
                    "field_name": "d"
                }
            ]
        },
        "imdb10": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000883,
            "actual_rows": 472828,
            "estimated_cardinality": 474443,
            "children": [],
            "relation": "imdb10",
            "opt_filter": "s>=14776 AND s<=2524230 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb10",
                    "field_name": "s"
                }
            ]
        },
        "imdb88": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 5e-06,
            "actual_rows": 1444,
            "estimated_cardinality": 1444,
            "children": [],
            "relation": "imdb88",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "imdb88",
                    "field_name": "s"
                }
            ]
        }
    }
}