{
    "semijoin_plan": {
        "guard": "imdb100",
        "children": [
            {
                "guard": "imdb125",
                "children": [
                    {
                        "guard": "imdb52",
                        "children": []
                    }
                ]
            }
        ]
    },
    "replacements": {
        "imdb100": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.008124,
            "actual_rows": 4516948,
            "estimated_cardinality": 4520446,
            "children": [],
            "relation": "imdb100",
            "opt_filter": "d>=6264 AND d<=2525525 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb100",
                    "field_name": "d"
                }
            ]
        },
        "imdb125": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001422,
            "actual_rows": 771434,
            "estimated_cardinality": 773138,
            "children": [],
            "relation": "imdb125",
            "opt_filter": "d>=6264 AND d<=2525525 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb125",
                    "field_name": "d"
                }
            ]
        },
        "imdb52": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.005747,
            "actual_rows": 18214,
            "estimated_cardinality": 18214,
            "children": [],
            "relation": "imdb52",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "imdb52",
                    "field_name": "s"
                }
            ]
        }
    }
}