{
    "semijoin_plan": {
        "guard": "imdb100",
        "children": [
            {
                "guard": "imdb118",
                "children": [
                    {
                        "guard": "imdb10",
                        "children": [
                            {
                                "guard": "imdb74",
                                "children": []
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "imdb100": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.008192,
            "actual_rows": 4518480,
            "estimated_cardinality": 4520446,
            "children": [],
            "relation": "imdb100",
            "opt_filter": "d>=1559 AND d<=2525392 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb100",
                    "field_name": "d"
                }
            ]
        },
        "imdb118": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.007128,
            "actual_rows": 3952352,
            "estimated_cardinality": 3955794,
            "children": [],
            "relation": "imdb118",
            "opt_filter": "d>=1559 AND d<=2525392 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb118",
                    "field_name": "d"
                }
            ]
        },
        "imdb10": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000847,
            "actual_rows": 474213,
            "estimated_cardinality": 474443,
            "children": [],
            "relation": "imdb10",
            "opt_filter": "s>=1559 AND s<=2525392 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb10",
                    "field_name": "s"
                }
            ]
        },
        "imdb74": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 8e-06,
            "actual_rows": 5576,
            "estimated_cardinality": 5576,
            "children": [],
            "relation": "imdb74",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "imdb74",
                    "field_name": "s"
                }
            ]
        }
    }
}