{
    "semijoin_plan": {
        "guard": "imdb8",
        "children": [
            {
                "guard": "imdb2",
                "children": [
                    {
                        "guard": "imdb125",
                        "children": [
                            {
                                "guard": "imdb1",
                                "children": []
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "imdb1": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.006031,
            "actual_rows": 681879,
            "estimated_cardinality": 1262722,
            "children": [],
            "relation": "imdb1",
            "opt_filter": "s>=19474799 AND s<=22885402 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb1",
                    "field_name": "s"
                }
            ]
        },
        "imdb8": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001996,
            "actual_rows": 1401891,
            "estimated_cardinality": 1401902,
            "children": [],
            "relation": "imdb8",
            "opt_filter": "s<=2525745 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb8",
                    "field_name": "s"
                }
            ]
        },
        "imdb2": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001254,
            "actual_rows": 1333580,
            "estimated_cardinality": 1333580,
            "children": [],
            "relation": "imdb2",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "imdb2",
                    "field_name": "d"
                }
            ]
        },
        "imdb125": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001494,
            "actual_rows": 773113,
            "estimated_cardinality": 773138,
            "children": [],
            "relation": "imdb125",
            "opt_filter": "d<=2525745 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb125",
                    "field_name": "s"
                },
                {
                    "table_name": "imdb125",
                    "field_name": "d"
                }
            ]
        }
    }
}