{
    "semijoin_plan": {
        "guard": "imdb1",
        "children": [
            {
                "guard": "imdb23",
                "children": [
                    {
                        "guard": "imdb119",
                        "children": [
                            {
                                "guard": "imdb108",
                                "children": []
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "imdb1": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.006819,
            "actual_rows": 578133,
            "estimated_cardinality": 1262722,
            "children": [],
            "relation": "imdb1",
            "opt_filter": "s>=19478245 AND s<=22175841 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb1",
                    "field_name": "s"
                }
            ]
        },
        "imdb23": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.004286,
            "actual_rows": 566717,
            "estimated_cardinality": 988744,
            "children": [],
            "relation": "imdb23",
            "opt_filter": "s>=19478245 AND s<=22175841 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb23",
                    "field_name": "s"
                }
            ]
        },
        "imdb119": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.022146,
            "actual_rows": 570664,
            "estimated_cardinality": 7326771,
            "children": [],
            "relation": "imdb119",
            "opt_filter": "d>=378 AND d<=199900 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb119",
                    "field_name": "s"
                },
                {
                    "table_name": "imdb119",
                    "field_name": "d"
                }
            ]
        },
        "imdb108": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00545,
            "actual_rows": 2223,
            "estimated_cardinality": 2223,
            "children": [],
            "relation": "imdb108",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "imdb108",
                    "field_name": "s"
                }
            ]
        }
    }
}