{
    "semijoin_plan": {
        "guard": "imdb100",
        "children": [
            {
                "guard": "imdb121",
                "children": [
                    {
                        "guard": "imdb42",
                        "children": [
                            {
                                "guard": "imdb50",
                                "children": []
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "imdb100": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.008122,
            "actual_rows": 4516437,
            "estimated_cardinality": 4520446,
            "children": [],
            "relation": "imdb100",
            "opt_filter": "d>=3218 AND d<=2525007 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb100",
                    "field_name": "d"
                }
            ]
        },
        "imdb121": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00195,
            "actual_rows": 1091584,
            "estimated_cardinality": 1093367,
            "children": [],
            "relation": "imdb121",
            "opt_filter": "d>=3218 AND d<=2525007 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb121",
                    "field_name": "d"
                }
            ]
        },
        "imdb42": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.2e-05,
            "actual_rows": 9612,
            "estimated_cardinality": 9621,
            "children": [],
            "relation": "imdb42",
            "opt_filter": "s>=3218 AND s<=2525007 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb42",
                    "field_name": "s"
                }
            ]
        },
        "imdb50": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 5e-06,
            "actual_rows": 3084,
            "estimated_cardinality": 3084,
            "children": [],
            "relation": "imdb50",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "imdb50",
                    "field_name": "s"
                }
            ]
        }
    }
}