{
    "semijoin_plan": {
        "guard": "imdb121",
        "children": [
            {
                "guard": "imdb14",
                "children": [
                    {
                        "guard": "imdb63",
                        "children": []
                    }
                ]
            }
        ]
    },
    "replacements": {
        "imdb121": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.002377,
            "actual_rows": 1092468,
            "estimated_cardinality": 1093367,
            "children": [],
            "relation": "imdb121",
            "opt_filter": "d>=1559 AND d<=2525392 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb121",
                    "field_name": "d"
                }
            ]
        },
        "imdb14": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000823,
            "actual_rows": 459652,
            "estimated_cardinality": 459925,
            "children": [],
            "relation": "imdb14",
            "opt_filter": "s>=1559 AND s<=2525392 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "imdb14",
                    "field_name": "s"
                }
            ]
        },
        "imdb63": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 8e-06,
            "actual_rows": 6346,
            "estimated_cardinality": 6346,
            "children": [],
            "relation": "imdb63",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "imdb63",
                    "field_name": "s"
                }
            ]
        }
    }
}