{
    "semijoin_plan": {
        "guard": "watdiv1052646",
        "children": [
            {
                "guard": "watdiv1052651",
                "children": [
                    {
                        "guard": "watdiv1052610",
                        "children": [
                            {
                                "guard": "watdiv1052612",
                                "children": [
                                    {
                                        "guard": "watdiv1052637",
                                        "children": [
                                            {
                                                "guard": "watdiv1052638",
                                                "children": []
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            },
            {
                "guard": "watdiv1052572",
                "children": []
            }
        ]
    },
    "replacements": {
        "watdiv1052637": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000215,
            "actual_rows": 150000,
            "estimated_cardinality": 150000,
            "children": [],
            "relation": "watdiv1052637",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "watdiv1052637",
                    "field_name": "s"
                },
                {
                    "table_name": "watdiv1052637",
                    "field_name": "d"
                }
            ]
        },
        "watdiv1052638": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000126,
            "actual_rows": 150000,
            "estimated_cardinality": 150000,
            "children": [],
            "relation": "watdiv1052638",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "watdiv1052638",
                    "field_name": "s"
                }
            ]
        },
        "watdiv1052646": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000117,
            "actual_rows": 40292,
            "estimated_cardinality": 40297,
            "children": [],
            "relation": "watdiv1052646",
            "opt_filter": "s>=206368 AND s<=870966 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "watdiv1052646",
                    "field_name": "s"
                },
                {
                    "table_name": "watdiv1052646",
                    "field_name": "d"
                }
            ]
        },
        "watdiv1052651": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.011719,
            "actual_rows": 668505,
            "estimated_cardinality": 4491142,
            "children": [],
            "relation": "watdiv1052651",
            "opt_filter": "d<=443043 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "watdiv1052651",
                    "field_name": "d"
                },
                {
                    "table_name": "watdiv1052651",
                    "field_name": "s"
                }
            ]
        },
        "watdiv1052612": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 5e-06,
            "actual_rows": 651,
            "estimated_cardinality": 651,
            "children": [],
            "relation": "watdiv1052612",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "watdiv1052612",
                    "field_name": "d"
                },
                {
                    "table_name": "watdiv1052612",
                    "field_name": "s"
                }
            ]
        },
        "watdiv1052610": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 4e-06,
            "actual_rows": 400,
            "estimated_cardinality": 401,
            "children": [],
            "relation": "watdiv1052610",
            "opt_filter": "s<=441082 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "watdiv1052610",
                    "field_name": "s"
                },
                {
                    "table_name": "watdiv1052610",
                    "field_name": "d"
                }
            ]
        },
        "watdiv1052572": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 4e-06,
            "actual_rows": 240,
            "estimated_cardinality": 240,
            "children": [],
            "relation": "watdiv1052572",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "watdiv1052572",
                    "field_name": "s"
                }
            ]
        }
    }
}