{
    "semijoin_plan": {
        "guard": "watdiv1052644",
        "children": [
            {
                "guard": "watdiv1052638",
                "children": [
                    {
                        "guard": "watdiv1052629",
                        "children": []
                    },
                    {
                        "guard": "watdiv1052595",
                        "children": [
                            {
                                "guard": "watdiv1052592",
                                "children": [
                                    {
                                        "guard": "watdiv1052574",
                                        "children": [
                                            {
                                                "guard": "watdiv1052655",
                                                "children": []
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "watdiv1052644": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.012062,
            "actual_rows": 749114,
            "estimated_cardinality": 3289307,
            "children": [],
            "relation": "watdiv1052644",
            "opt_filter": "d>=206146 AND d<=779356 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "watdiv1052644",
                    "field_name": "d"
                }
            ]
        },
        "watdiv1052595": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000235,
            "actual_rows": 149634,
            "estimated_cardinality": 149634,
            "children": [],
            "relation": "watdiv1052595",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "watdiv1052595",
                    "field_name": "s"
                },
                {
                    "table_name": "watdiv1052595",
                    "field_name": "d"
                }
            ]
        },
        "watdiv1052638": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00031,
            "actual_rows": 149634,
            "estimated_cardinality": 150000,
            "children": [],
            "relation": "watdiv1052638",
            "opt_filter": "s<=443255 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "watdiv1052638",
                    "field_name": "s"
                },
                {
                    "table_name": "watdiv1052638",
                    "field_name": "d"
                }
            ]
        },
        "watdiv1052629": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000449,
            "actual_rows": 41316,
            "estimated_cardinality": 91004,
            "children": [],
            "relation": "watdiv1052629",
            "opt_filter": "s>=206146 AND s<=779356 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "watdiv1052629",
                    "field_name": "s"
                }
            ]
        },
        "watdiv1052574": {
            "name": "FILTER",
            "execution_time": 0.00044,
            "actual_rows": 149698,
            "estimated_cardinality": 240000,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.00038,
                    "actual_rows": 150000,
                    "estimated_cardinality": 240000,
                    "children": [],
                    "relation": "watdiv1052574",
                    "opt_filter": "s>=443260 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "watdiv1052574",
                            "field_name": "s"
                        },
                        {
                            "table_name": "watdiv1052574",
                            "field_name": "d"
                        }
                    ]
                }
            ],
            "condition": "(watdiv1052574.d BETWEEN 269 AND 17960)"
        },
        "watdiv1052655": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000148,
            "actual_rows": 149998,
            "estimated_cardinality": 149998,
            "children": [],
            "relation": "watdiv1052655",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "watdiv1052655",
                    "field_name": "d"
                }
            ]
        },
        "watdiv1052592": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 5e-06,
            "actual_rows": 850,
            "estimated_cardinality": 850,
            "children": [],
            "relation": "watdiv1052592",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "watdiv1052592",
                    "field_name": "d"
                },
                {
                    "table_name": "watdiv1052592",
                    "field_name": "s"
                }
            ]
        }
    }
}