{
    "semijoin_plan": {
        "guard": "watdiv1052644",
        "children": [
            {
                "guard": "watdiv1052653",
                "children": []
            },
            {
                "guard": "watdiv1052638",
                "children": [
                    {
                        "guard": "watdiv1052595",
                        "children": [
                            {
                                "guard": "watdiv1052616",
                                "children": []
                            },
                            {
                                "guard": "watdiv1052581",
                                "children": []
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "watdiv1052581": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000122,
            "actual_rows": 58547,
            "estimated_cardinality": 58787,
            "children": [],
            "relation": "watdiv1052581",
            "opt_filter": "s>=758 AND s<=441108 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "watdiv1052581",
                    "field_name": "s"
                }
            ]
        },
        "watdiv1052644": {
            "name": "FILTER",
            "execution_time": 0.008844,
            "actual_rows": 1464177,
            "estimated_cardinality": 3289307,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.006219,
                    "actual_rows": 3287279,
                    "estimated_cardinality": 3289307,
                    "children": [],
                    "relation": "watdiv1052644",
                    "opt_filter": "d>=206336 AND d IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "watdiv1052644",
                            "field_name": "s"
                        },
                        {
                            "table_name": "watdiv1052644",
                            "field_name": "d"
                        }
                    ]
                }
            ],
            "condition": "(watdiv1052644.s BETWEEN 206146 AND 779356)"
        },
        "watdiv1052653": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 6e-06,
            "actual_rows": 5008,
            "estimated_cardinality": 5008,
            "children": [],
            "relation": "watdiv1052653",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "watdiv1052653",
                    "field_name": "s"
                }
            ]
        },
        "watdiv1052638": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000317,
            "actual_rows": 149634,
            "estimated_cardinality": 150000,
            "children": [],
            "relation": "watdiv1052638",
            "opt_filter": "s<=443255 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "watdiv1052638",
                    "field_name": "s"
                },
                {
                    "table_name": "watdiv1052638",
                    "field_name": "d"
                }
            ]
        },
        "watdiv1052595": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000405,
            "actual_rows": 149089,
            "estimated_cardinality": 149634,
            "children": [],
            "relation": "watdiv1052595",
            "opt_filter": "s>=758 AND s<=441108 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "watdiv1052595",
                    "field_name": "s"
                },
                {
                    "table_name": "watdiv1052595",
                    "field_name": "d"
                }
            ]
        },
        "watdiv1052616": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000649,
            "actual_rows": 842,
            "estimated_cardinality": 842,
            "children": [],
            "relation": "watdiv1052616",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "watdiv1052616",
                    "field_name": "s"
                }
            ]
        }
    }
}