{
    "semijoin_plan": {
        "guard": "yago31",
        "children": [
            {
                "guard": "yago36",
                "children": [
                    {
                        "guard": "yago46",
                        "children": [
                            {
                                "guard": "yago17",
                                "children": [
                                    {
                                        "guard": "yago12",
                                        "children": [
                                            {
                                                "guard": "yago5",
                                                "children": []
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "yago31": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 7.3e-05,
            "actual_rows": 60213,
            "estimated_cardinality": 60214,
            "children": [],
            "relation": "yago31",
            "opt_filter": "d<=1846587 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago31",
                    "field_name": "d"
                }
            ]
        },
        "yago5": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 7.5e-05,
            "actual_rows": 95092,
            "estimated_cardinality": 95092,
            "children": [],
            "relation": "yago5",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago5",
                    "field_name": "d"
                }
            ]
        },
        "yago36": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 8.2e-05,
            "actual_rows": 36183,
            "estimated_cardinality": 36187,
            "children": [],
            "relation": "yago36",
            "opt_filter": "s>=173 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago36",
                    "field_name": "s"
                },
                {
                    "table_name": "yago36",
                    "field_name": "d"
                }
            ]
        },
        "yago46": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 3.5e-05,
            "actual_rows": 20515,
            "estimated_cardinality": 20515,
            "children": [],
            "relation": "yago46",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago46",
                    "field_name": "s"
                },
                {
                    "table_name": "yago46",
                    "field_name": "d"
                }
            ]
        },
        "yago17": {
            "name": "FILTER",
            "execution_time": 0.000108,
            "actual_rows": 38537,
            "estimated_cardinality": 55535,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000277,
                    "actual_rows": 38540,
                    "estimated_cardinality": 55535,
                    "children": [],
                    "relation": "yago17",
                    "opt_filter": "s>=213 AND s<=1846053 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "yago17",
                            "field_name": "s"
                        },
                        {
                            "table_name": "yago17",
                            "field_name": "d"
                        }
                    ]
                }
            ],
            "condition": "(yago17.d BETWEEN 147 AND 4314880)"
        },
        "yago12": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.3e-05,
            "actual_rows": 12463,
            "estimated_cardinality": 12463,
            "children": [],
            "relation": "yago12",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago12",
                    "field_name": "d"
                },
                {
                    "table_name": "yago12",
                    "field_name": "s"
                }
            ]
        }
    }
}