{
    "semijoin_plan": {
        "guard": "yago0",
        "children": [
            {
                "guard": "yago2",
                "children": [
                    {
                        "guard": "yago11",
                        "children": [
                            {
                                "guard": "yago5_2",
                                "children": [
                                    {
                                        "guard": "yago5_5",
                                        "children": [
                                            {
                                                "guard": "yago5_4",
                                                "children": []
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "yago0": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.017078,
            "actual_rows": 8328653,
            "estimated_cardinality": 8331273,
            "children": [],
            "relation": "yago0",
            "opt_filter": "s>=64 AND s<=4523488 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago0",
                    "field_name": "s"
                }
            ]
        },
        "yago2": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.004558,
            "actual_rows": 2123161,
            "estimated_cardinality": 2124368,
            "children": [],
            "relation": "yago2",
            "opt_filter": "d>=64 AND d<=4523488 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago2",
                    "field_name": "d"
                }
            ]
        },
        "yago11": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000258,
            "actual_rows": 110819,
            "estimated_cardinality": 110830,
            "children": [],
            "relation": "yago11",
            "opt_filter": "s>=64 AND s<=4523488 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago11",
                    "field_name": "s"
                }
            ]
        },
        "yago5_2": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000128,
            "actual_rows": 95092,
            "estimated_cardinality": 95092,
            "children": [],
            "relation": "yago5",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago5_2",
                    "field_name": "d"
                }
            ]
        },
        "yago5_5": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000114,
            "actual_rows": 95092,
            "estimated_cardinality": 95092,
            "children": [],
            "relation": "yago5",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago5_5",
                    "field_name": "d"
                }
            ]
        },
        "yago5_4": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 8e-05,
            "actual_rows": 95092,
            "estimated_cardinality": 95092,
            "children": [],
            "relation": "yago5",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago5_4",
                    "field_name": "d"
                }
            ]
        }
    }
}