{
    "semijoin_plan": {
        "guard": "yago0",
        "children": [
            {
                "guard": "yago5_5",
                "children": [
                    {
                        "guard": "yago5_4",
                        "children": [
                            {
                                "guard": "yago5_3",
                                "children": [
                                    {
                                        "guard": "yago5_2",
                                        "children": [
                                            {
                                                "guard": "yago47",
                                                "children": []
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "yago0": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.017732,
            "actual_rows": 8321318,
            "estimated_cardinality": 8331273,
            "children": [],
            "relation": "yago0",
            "opt_filter": "s>=302 AND s<=4403564 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago0",
                    "field_name": "s"
                }
            ]
        },
        "yago5_5": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000193,
            "actual_rows": 95081,
            "estimated_cardinality": 95092,
            "children": [],
            "relation": "yago5",
            "opt_filter": "d>=302 AND d<=4403564 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago5_5",
                    "field_name": "d"
                }
            ]
        },
        "yago5_4": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00019,
            "actual_rows": 95081,
            "estimated_cardinality": 95092,
            "children": [],
            "relation": "yago5",
            "opt_filter": "d>=302 AND d<=4403564 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago5_4",
                    "field_name": "d"
                }
            ]
        },
        "yago5_3": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000195,
            "actual_rows": 95081,
            "estimated_cardinality": 95092,
            "children": [],
            "relation": "yago5",
            "opt_filter": "d>=302 AND d<=4403564 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago5_3",
                    "field_name": "d"
                }
            ]
        },
        "yago5_2": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000195,
            "actual_rows": 95081,
            "estimated_cardinality": 95092,
            "children": [],
            "relation": "yago5",
            "opt_filter": "d>=302 AND d<=4403564 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago5_2",
                    "field_name": "d"
                }
            ]
        },
        "yago47": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 6e-06,
            "actual_rows": 3698,
            "estimated_cardinality": 3698,
            "children": [],
            "relation": "yago47",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago47",
                    "field_name": "s"
                }
            ]
        }
    }
}