{
    "semijoin_plan": {
        "guard": "yago1",
        "children": [
            {
                "guard": "yago0_3",
                "children": [
                    {
                        "guard": "yago0_4",
                        "children": [
                            {
                                "guard": "yago0_5",
                                "children": [
                                    {
                                        "guard": "yago17_6",
                                        "children": [
                                            {
                                                "guard": "yago17_7",
                                                "children": [
                                                    {
                                                        "guard": "yago5_8",
                                                        "children": [
                                                            {
                                                                "guard": "yago21",
                                                                "children": [
                                                                    {
                                                                        "guard": "yago5_11",
                                                                        "children": [
                                                                            {
                                                                                "guard": "yago23",
                                                                                "children": [
                                                                                    {
                                                                                        "guard": "yago46",
                                                                                        "children": [
                                                                                            {
                                                                                                "guard": "yago5_2",
                                                                                                "children": []
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "yago5_11": {
            "name": "FILTER",
            "execution_time": 0.000249,
            "actual_rows": 95027,
            "estimated_cardinality": 95092,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.002064,
                    "actual_rows": 95043,
                    "estimated_cardinality": 95092,
                    "children": [],
                    "relation": "yago5",
                    "opt_filter": "d<=2968596 AND d IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "yago5_11",
                            "field_name": "d"
                        },
                        {
                            "table_name": "yago5_11",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(yago5_11.s BETWEEN 19 AND 1846503)"
        },
        "yago21": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 8.8e-05,
            "actual_rows": 41741,
            "estimated_cardinality": 41742,
            "children": [],
            "relation": "yago21",
            "opt_filter": "d>=64 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago21",
                    "field_name": "s"
                },
                {
                    "table_name": "yago21",
                    "field_name": "d"
                }
            ]
        },
        "yago23": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000807,
            "actual_rows": 22640,
            "estimated_cardinality": 22640,
            "children": [],
            "relation": "yago23",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago23",
                    "field_name": "d"
                },
                {
                    "table_name": "yago23",
                    "field_name": "s"
                }
            ]
        },
        "yago5_2": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001738,
            "actual_rows": 95086,
            "estimated_cardinality": 95092,
            "children": [],
            "relation": "yago5",
            "opt_filter": "d>=147 AND d<=4314880 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago5_2",
                    "field_name": "d"
                }
            ]
        },
        "yago46": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000994,
            "actual_rows": 20509,
            "estimated_cardinality": 20515,
            "children": [],
            "relation": "yago46",
            "opt_filter": "d>=518 AND d<=4361639 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago46",
                    "field_name": "s"
                },
                {
                    "table_name": "yago46",
                    "field_name": "d"
                }
            ]
        },
        "yago5_8": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.011863,
            "actual_rows": 95091,
            "estimated_cardinality": 95092,
            "children": [],
            "relation": "yago5",
            "opt_filter": "d<=4498366 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago5_8",
                    "field_name": "d"
                },
                {
                    "table_name": "yago5_8",
                    "field_name": "s"
                }
            ]
        },
        "yago17_7": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001301,
            "actual_rows": 55535,
            "estimated_cardinality": 55535,
            "children": [],
            "relation": "yago17",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago17_7",
                    "field_name": "s"
                },
                {
                    "table_name": "yago17_7",
                    "field_name": "d"
                }
            ]
        },
        "yago1": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.006159,
            "actual_rows": 569410,
            "estimated_cardinality": 569410,
            "children": [],
            "relation": "yago1",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago1",
                    "field_name": "d"
                }
            ]
        },
        "yago0_3": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.161754,
            "actual_rows": 8331273,
            "estimated_cardinality": 8331273,
            "children": [],
            "relation": "yago0",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago0_3",
                    "field_name": "d"
                },
                {
                    "table_name": "yago0_3",
                    "field_name": "s"
                }
            ]
        },
        "yago0_4": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.153952,
            "actual_rows": 8331273,
            "estimated_cardinality": 8331273,
            "children": [],
            "relation": "yago0",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago0_4",
                    "field_name": "s"
                },
                {
                    "table_name": "yago0_4",
                    "field_name": "d"
                }
            ]
        },
        "yago0_5": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.174382,
            "actual_rows": 8327292,
            "estimated_cardinality": 8331273,
            "children": [],
            "relation": "yago0",
            "opt_filter": "s>=60 AND s<=4498366 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago0_5",
                    "field_name": "d"
                },
                {
                    "table_name": "yago0_5",
                    "field_name": "s"
                }
            ]
        },
        "yago17_6": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00609,
            "actual_rows": 55535,
            "estimated_cardinality": 55535,
            "children": [],
            "relation": "yago17",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago17_6",
                    "field_name": "d"
                },
                {
                    "table_name": "yago17_6",
                    "field_name": "s"
                }
            ]
        }
    }
}