{
    "semijoin_plan": {
        "guard": "yago0",
        "children": [
            {
                "guard": "yago3",
                "children": [
                    {
                        "guard": "yago58",
                        "children": [
                            {
                                "guard": "yago36",
                                "children": [
                                    {
                                        "guard": "yago31_6",
                                        "children": [
                                            {
                                                "guard": "yago31_7",
                                                "children": [
                                                    {
                                                        "guard": "yago50",
                                                        "children": [
                                                            {
                                                                "guard": "yago54_9",
                                                                "children": [
                                                                    {
                                                                        "guard": "yago54_10",
                                                                        "children": [
                                                                            {
                                                                                "guard": "yago5",
                                                                                "children": [
                                                                                    {
                                                                                        "guard": "yago21",
                                                                                        "children": [
                                                                                            {
                                                                                                "guard": "yago13",
                                                                                                "children": []
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "yago31_7": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00078,
            "actual_rows": 60214,
            "estimated_cardinality": 60214,
            "children": [],
            "relation": "yago31",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago31_7",
                    "field_name": "s"
                },
                {
                    "table_name": "yago31_7",
                    "field_name": "d"
                }
            ]
        },
        "yago31_6": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.002273,
            "actual_rows": 60213,
            "estimated_cardinality": 60214,
            "children": [],
            "relation": "yago31",
            "opt_filter": "d<=1846587 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago31_6",
                    "field_name": "d"
                },
                {
                    "table_name": "yago31_6",
                    "field_name": "s"
                }
            ]
        },
        "yago36": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 7.6e-05,
            "actual_rows": 36186,
            "estimated_cardinality": 36187,
            "children": [],
            "relation": "yago36",
            "opt_filter": "s<=1846525 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago36",
                    "field_name": "s"
                },
                {
                    "table_name": "yago36",
                    "field_name": "d"
                }
            ]
        },
        "yago0": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.016629,
            "actual_rows": 8331008,
            "estimated_cardinality": 8331273,
            "children": [],
            "relation": "yago0",
            "opt_filter": "d>=4532271 AND d<=12810926 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago0",
                    "field_name": "d"
                }
            ]
        },
        "yago3": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001575,
            "actual_rows": 566056,
            "estimated_cardinality": 568852,
            "children": [],
            "relation": "yago3",
            "opt_filter": "s>=19 AND s<=1846525 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago3",
                    "field_name": "d"
                },
                {
                    "table_name": "yago3",
                    "field_name": "s"
                }
            ]
        },
        "yago58": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.1e-05,
            "actual_rows": 4208,
            "estimated_cardinality": 4208,
            "children": [],
            "relation": "yago58",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago58",
                    "field_name": "d"
                },
                {
                    "table_name": "yago58",
                    "field_name": "s"
                }
            ]
        },
        "yago50": {
            "name": "FILTER",
            "execution_time": 2.3e-05,
            "actual_rows": 14704,
            "estimated_cardinality": 14710,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 4.4e-05,
                    "actual_rows": 14706,
                    "estimated_cardinality": 14710,
                    "children": [],
                    "relation": "yago50",
                    "opt_filter": "s>=291 AND s<=1846437 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "yago50",
                            "field_name": "d"
                        },
                        {
                            "table_name": "yago50",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(yago50.d >= 132)"
        },
        "yago54_9": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 6.6e-05,
            "actual_rows": 8702,
            "estimated_cardinality": 8702,
            "children": [],
            "relation": "yago54",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago54_9",
                    "field_name": "d"
                },
                {
                    "table_name": "yago54_9",
                    "field_name": "s"
                }
            ]
        },
        "yago13": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 3.5e-05,
            "actual_rows": 23717,
            "estimated_cardinality": 23722,
            "children": [],
            "relation": "yago13",
            "opt_filter": "s>=121 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago13",
                    "field_name": "s"
                }
            ]
        },
        "yago21": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 8.8e-05,
            "actual_rows": 41741,
            "estimated_cardinality": 41742,
            "children": [],
            "relation": "yago21",
            "opt_filter": "d>=64 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago21",
                    "field_name": "s"
                },
                {
                    "table_name": "yago21",
                    "field_name": "d"
                }
            ]
        },
        "yago5": {
            "name": "FILTER",
            "execution_time": 0.000162,
            "actual_rows": 94981,
            "estimated_cardinality": 95092,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000283,
                    "actual_rows": 95030,
                    "estimated_cardinality": 95092,
                    "children": [],
                    "relation": "yago5",
                    "opt_filter": "s>=291 AND s<=1846437 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "yago5",
                            "field_name": "d"
                        },
                        {
                            "table_name": "yago5",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(yago5.d <= 2968596)"
        },
        "yago54_10": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 6.4e-05,
            "actual_rows": 8702,
            "estimated_cardinality": 8702,
            "children": [],
            "relation": "yago54",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago54_10",
                    "field_name": "s"
                },
                {
                    "table_name": "yago54_10",
                    "field_name": "d"
                }
            ]
        }
    }
}