{
    "semijoin_plan": {
        "guard": "yago25",
        "children": [
            {
                "guard": "yago50",
                "children": [
                    {
                        "guard": "yago35_3",
                        "children": [
                            {
                                "guard": "yago54",
                                "children": [
                                    {
                                        "guard": "yago35_5",
                                        "children": []
                                    }
                                ]
                            }
                        ]
                    }
                ]
            },
            {
                "guard": "yago26",
                "children": []
            }
        ]
    },
    "replacements": {
        "yago25": {
            "name": "FILTER",
            "execution_time": 0.000517,
            "actual_rows": 205435,
            "estimated_cardinality": 205469,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000406,
                    "actual_rows": 205445,
                    "estimated_cardinality": 205469,
                    "children": [],
                    "relation": "yago25",
                    "opt_filter": "s<=1846568 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "yago25",
                            "field_name": "d"
                        },
                        {
                            "table_name": "yago25",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(yago25.d BETWEEN 207 AND 4530518)"
        },
        "yago50": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 3.6e-05,
            "actual_rows": 14708,
            "estimated_cardinality": 14710,
            "children": [],
            "relation": "yago50",
            "opt_filter": "d<=1846193 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago50",
                    "field_name": "s"
                },
                {
                    "table_name": "yago50",
                    "field_name": "d"
                }
            ]
        },
        "yago26": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.1e-05,
            "actual_rows": 12377,
            "estimated_cardinality": 12377,
            "children": [],
            "relation": "yago26",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago26",
                    "field_name": "d"
                }
            ]
        },
        "yago35_3": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 3.9e-05,
            "actual_rows": 13615,
            "estimated_cardinality": 13618,
            "children": [],
            "relation": "yago35",
            "opt_filter": "s>=163 AND s<=1846038 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago35_3",
                    "field_name": "d"
                },
                {
                    "table_name": "yago35_3",
                    "field_name": "s"
                }
            ]
        },
        "yago35_5": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.4e-05,
            "actual_rows": 13614,
            "estimated_cardinality": 13618,
            "children": [],
            "relation": "yago35",
            "opt_filter": "s>=291 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago35_5",
                    "field_name": "s"
                }
            ]
        },
        "yago54": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 2.6e-05,
            "actual_rows": 8699,
            "estimated_cardinality": 8702,
            "children": [],
            "relation": "yago54",
            "opt_filter": "d<=1846108 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago54",
                    "field_name": "s"
                },
                {
                    "table_name": "yago54",
                    "field_name": "d"
                }
            ]
        }
    }
}