{
    "semijoin_plan": {
        "guard": "yago2_0",
        "children": [
            {
                "guard": "yago2_1",
                "children": [
                    {
                        "guard": "yago1",
                        "children": [
                            {
                                "guard": "yago0",
                                "children": [
                                    {
                                        "guard": "yago45_7",
                                        "children": [
                                            {
                                                "guard": "yago45_8",
                                                "children": [
                                                    {
                                                        "guard": "yago8",
                                                        "children": [
                                                            {
                                                                "guard": "yago25",
                                                                "children": [
                                                                    {
                                                                        "guard": "yago46_11",
                                                                        "children": [
                                                                            {
                                                                                "guard": "yago58",
                                                                                "children": [
                                                                                    {
                                                                                        "guard": "yago17",
                                                                                        "children": [
                                                                                            {
                                                                                                "guard": "yago46_4",
                                                                                                "children": []
                                                                                            }
                                                                                        ]
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "yago2_0": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001657,
            "actual_rows": 2124368,
            "estimated_cardinality": 2124368,
            "children": [],
            "relation": "yago2",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago2_0",
                    "field_name": "s"
                }
            ]
        },
        "yago2_1": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.004848,
            "actual_rows": 2123487,
            "estimated_cardinality": 2124368,
            "children": [],
            "relation": "yago2",
            "opt_filter": "d<=4529658 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago2_1",
                    "field_name": "s"
                },
                {
                    "table_name": "yago2_1",
                    "field_name": "d"
                }
            ]
        },
        "yago1": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000823,
            "actual_rows": 569410,
            "estimated_cardinality": 569410,
            "children": [],
            "relation": "yago1",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago1",
                    "field_name": "s"
                },
                {
                    "table_name": "yago1",
                    "field_name": "d"
                }
            ]
        },
        "yago0": {
            "name": "FILTER",
            "execution_time": 0.02003,
            "actual_rows": 8328676,
            "estimated_cardinality": 8331273,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.020899,
                    "actual_rows": 8328693,
                    "estimated_cardinality": 8331273,
                    "children": [],
                    "relation": "yago0",
                    "opt_filter": "s>=18 AND s<=4519718 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "yago0",
                            "field_name": "d"
                        },
                        {
                            "table_name": "yago0",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(yago0.d BETWEEN 4532271 AND 12811178)"
        },
        "yago45_7": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000828,
            "actual_rows": 5926,
            "estimated_cardinality": 5926,
            "children": [],
            "relation": "yago45",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago45_7",
                    "field_name": "s"
                },
                {
                    "table_name": "yago45_7",
                    "field_name": "d"
                }
            ]
        },
        "yago8": {
            "name": "FILTER",
            "execution_time": 0.000569,
            "actual_rows": 441265,
            "estimated_cardinality": 441274,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000898,
                    "actual_rows": 441270,
                    "estimated_cardinality": 441274,
                    "children": [],
                    "relation": "yago8",
                    "opt_filter": "s>=18 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "yago8",
                            "field_name": "s"
                        },
                        {
                            "table_name": "yago8",
                            "field_name": "d"
                        }
                    ]
                }
            ],
            "condition": "(yago8.d <= 4530877)"
        },
        "yago45_8": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.005933,
            "actual_rows": 5279,
            "estimated_cardinality": 5926,
            "children": [],
            "relation": "yago45",
            "opt_filter": "s<=1846703 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago45_8",
                    "field_name": "d"
                },
                {
                    "table_name": "yago45_8",
                    "field_name": "s"
                }
            ]
        },
        "yago25": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000458,
            "actual_rows": 205449,
            "estimated_cardinality": 205469,
            "children": [],
            "relation": "yago25",
            "opt_filter": "s>=173 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago25",
                    "field_name": "d"
                },
                {
                    "table_name": "yago25",
                    "field_name": "s"
                }
            ]
        },
        "yago46_11": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.005146,
            "actual_rows": 18672,
            "estimated_cardinality": 20515,
            "children": [],
            "relation": "yago46",
            "opt_filter": "s<=1846525 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago46_11",
                    "field_name": "s"
                },
                {
                    "table_name": "yago46_11",
                    "field_name": "d"
                }
            ]
        },
        "yago46_4": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 3.9e-05,
            "actual_rows": 20514,
            "estimated_cardinality": 20515,
            "children": [],
            "relation": "yago46",
            "opt_filter": "d<=4314880 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago46_4",
                    "field_name": "d"
                }
            ]
        },
        "yago17": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000226,
            "actual_rows": 38060,
            "estimated_cardinality": 55535,
            "children": [],
            "relation": "yago17",
            "opt_filter": "d<=1846525 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago17",
                    "field_name": "d"
                },
                {
                    "table_name": "yago17",
                    "field_name": "s"
                }
            ]
        },
        "yago58": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 1.5e-05,
            "actual_rows": 4206,
            "estimated_cardinality": 4208,
            "children": [],
            "relation": "yago58",
            "opt_filter": "s>=60 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago58",
                    "field_name": "s"
                },
                {
                    "table_name": "yago58",
                    "field_name": "d"
                }
            ]
        }
    }
}