{
    "semijoin_plan": {
        "guard": "yago0_0",
        "children": [
            {
                "guard": "yago0_4",
                "children": [
                    {
                        "guard": "yago1",
                        "children": [
                            {
                                "guard": "yago2_2",
                                "children": []
                            },
                            {
                                "guard": "yago2_3",
                                "children": []
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "yago2_3": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.003341,
            "actual_rows": 2123487,
            "estimated_cardinality": 2124368,
            "children": [],
            "relation": "yago2",
            "opt_filter": "d<=4529658 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago2_3",
                    "field_name": "d"
                }
            ]
        },
        "yago2_2": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00434,
            "actual_rows": 2123487,
            "estimated_cardinality": 2124368,
            "children": [],
            "relation": "yago2",
            "opt_filter": "d<=4529658 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago2_2",
                    "field_name": "d"
                }
            ]
        },
        "yago0_0": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.018896,
            "actual_rows": 8331253,
            "estimated_cardinality": 8331273,
            "children": [],
            "relation": "yago0",
            "opt_filter": "d>=4532271 AND d<=12811178 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago0_0",
                    "field_name": "d"
                }
            ]
        },
        "yago0_4": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.015668,
            "actual_rows": 8331253,
            "estimated_cardinality": 8331273,
            "children": [],
            "relation": "yago0",
            "opt_filter": "d>=4532271 AND d<=12811178 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago0_4",
                    "field_name": "d"
                }
            ]
        },
        "yago1": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000863,
            "actual_rows": 569410,
            "estimated_cardinality": 569410,
            "children": [],
            "relation": "yago1",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago1",
                    "field_name": "d"
                },
                {
                    "table_name": "yago1",
                    "field_name": "s"
                }
            ]
        }
    }
}