{
    "semijoin_plan": {
        "guard": "yago2_5",
        "children": [
            {
                "guard": "yago2_4",
                "children": [
                    {
                        "guard": "yago6",
                        "children": [
                            {
                                "guard": "yago11_0",
                                "children": [
                                    {
                                        "guard": "yago11_1",
                                        "children": [
                                            {
                                                "guard": "yago62",
                                                "children": []
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "yago2_5": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.007754,
            "actual_rows": 1657501,
            "estimated_cardinality": 2124368,
            "children": [],
            "relation": "yago2",
            "opt_filter": "d>=8 AND d<=1846658 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago2_5",
                    "field_name": "d"
                }
            ]
        },
        "yago2_4": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.007717,
            "actual_rows": 1657501,
            "estimated_cardinality": 2124368,
            "children": [],
            "relation": "yago2",
            "opt_filter": "d>=8 AND d<=1846658 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago2_4",
                    "field_name": "d"
                }
            ]
        },
        "yago6": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000203,
            "actual_rows": 130097,
            "estimated_cardinality": 130098,
            "children": [],
            "relation": "yago6",
            "opt_filter": "s>=8 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago6",
                    "field_name": "s"
                }
            ]
        },
        "yago11_0": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.005714,
            "actual_rows": 110822,
            "estimated_cardinality": 110830,
            "children": [],
            "relation": "yago11",
            "opt_filter": "s<=4483036 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago11_0",
                    "field_name": "s"
                }
            ]
        },
        "yago11_1": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000286,
            "actual_rows": 110822,
            "estimated_cardinality": 110830,
            "children": [],
            "relation": "yago11",
            "opt_filter": "s<=4483036 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago11_1",
                    "field_name": "s"
                }
            ]
        },
        "yago62": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000151,
            "actual_rows": 106796,
            "estimated_cardinality": 106797,
            "children": [],
            "relation": "yago62",
            "opt_filter": "s>=8 AND s IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago62",
                    "field_name": "s"
                }
            ]
        }
    }
}