{
    "semijoin_plan": {
        "guard": "yago0_3",
        "children": [
            {
                "guard": "yago3",
                "children": [
                    {
                        "guard": "yago1",
                        "children": [
                            {
                                "guard": "yago0_4",
                                "children": [
                                    {
                                        "guard": "yago58",
                                        "children": []
                                    }
                                ]
                            },
                            {
                                "guard": "yago0_0",
                                "children": []
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "yago0_0": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.016279,
            "actual_rows": 8331253,
            "estimated_cardinality": 8331273,
            "children": [],
            "relation": "yago0",
            "opt_filter": "d>=4532271 AND d<=12811178 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago0_0",
                    "field_name": "d"
                }
            ]
        },
        "yago0_3": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.016056,
            "actual_rows": 8331008,
            "estimated_cardinality": 8331273,
            "children": [],
            "relation": "yago0",
            "opt_filter": "d>=4532271 AND d<=12810926 AND d IS NOT NULL",
            "projection": [
                {
                    "table_name": "yago0_3",
                    "field_name": "d"
                }
            ]
        },
        "yago3": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000802,
            "actual_rows": 568852,
            "estimated_cardinality": 568852,
            "children": [],
            "relation": "yago3",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago3",
                    "field_name": "s"
                },
                {
                    "table_name": "yago3",
                    "field_name": "d"
                }
            ]
        },
        "yago1": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000826,
            "actual_rows": 569410,
            "estimated_cardinality": 569410,
            "children": [],
            "relation": "yago1",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago1",
                    "field_name": "d"
                },
                {
                    "table_name": "yago1",
                    "field_name": "s"
                }
            ]
        },
        "yago0_4": {
            "name": "FILTER",
            "execution_time": 0.01748,
            "actual_rows": 7092644,
            "estimated_cardinality": 8331273,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.031959,
                    "actual_rows": 7092658,
                    "estimated_cardinality": 8331273,
                    "children": [],
                    "relation": "yago0",
                    "opt_filter": "s>=19 AND s<=1846525 AND s IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "yago0_4",
                            "field_name": "d"
                        },
                        {
                            "table_name": "yago0_4",
                            "field_name": "s"
                        }
                    ]
                }
            ],
            "condition": "(yago0_4.d BETWEEN 4532271 AND 12811178)"
        },
        "yago58": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 8e-06,
            "actual_rows": 4208,
            "estimated_cardinality": 4208,
            "children": [],
            "relation": "yago58",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "yago58",
                    "field_name": "d"
                }
            ]
        }
    }
}