{
    "semijoin_plan": {
        "guard": "ph",
        "children": [
            {
                "guard": "b",
                "children": [
                    {
                        "guard": "c",
                        "children": [
                            {
                                "guard": "u",
                                "children": []
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "ph": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000916,
            "actual_rows": 277348,
            "estimated_cardinality": 303187,
            "children": [],
            "relation": "postHistory",
            "opt_filter": "UserId>=3 AND UserId IS NOT NULL",
            "projection": [
                {
                    "table_name": "ph",
                    "field_name": "UserId"
                }
            ]
        },
        "b": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000138,
            "actual_rows": 79848,
            "estimated_cardinality": 79851,
            "children": [],
            "relation": "badges",
            "opt_filter": "UserId>=3 AND UserId IS NOT NULL",
            "projection": [
                {
                    "table_name": "b",
                    "field_name": "UserId"
                }
            ]
        },
        "c": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000395,
            "actual_rows": 173540,
            "estimated_cardinality": 34861,
            "children": [],
            "relation": "comments",
            "opt_filter": "CreationDate<='2014-09-10 00:33:30'::TIMESTAMP AND CreationDate IS NOT NULL",
            "projection": [
                {
                    "table_name": "c",
                    "field_name": "UserId"
                }
            ]
        },
        "u": {
            "name": "FILTER",
            "execution_time": 0.000103,
            "actual_rows": 39346,
            "estimated_cardinality": 8065,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000139,
                    "actual_rows": 39348,
                    "estimated_cardinality": 8065,
                    "children": [],
                    "relation": "users",
                    "opt_filter": "DownVotes<=0 AND DownVotes IS NOT NULL AND UpVotes<=47 AND UpVotes IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "u",
                            "field_name": "Id"
                        }
                    ]
                }
            ],
            "condition": "(u.Id BETWEEN 3 AND 55746)"
        }
    }
}