{
    "semijoin_plan": {
        "guard": "ph",
        "children": [
            {
                "guard": "c",
                "children": [
                    {
                        "guard": "b",
                        "children": [
                            {
                                "guard": "u",
                                "children": []
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "ph": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001015,
            "actual_rows": 277348,
            "estimated_cardinality": 303187,
            "children": [],
            "relation": "postHistory",
            "opt_filter": "UserId>=3 AND UserId IS NOT NULL",
            "projection": [
                {
                    "table_name": "ph",
                    "field_name": "UserId"
                }
            ]
        },
        "c": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000521,
            "actual_rows": 171069,
            "estimated_cardinality": 34861,
            "children": [],
            "relation": "comments",
            "opt_filter": "CreationDate<='2014-08-28 00:18:24'::TIMESTAMP AND CreationDate IS NOT NULL",
            "projection": [
                {
                    "table_name": "c",
                    "field_name": "UserId"
                }
            ]
        },
        "b": {
            "name": "FILTER",
            "execution_time": 0.000105,
            "actual_rows": 77917,
            "estimated_cardinality": 15970,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000181,
                    "actual_rows": 77918,
                    "estimated_cardinality": 15970,
                    "children": [],
                    "relation": "badges",
                    "opt_filter": "Date>='2010-09-15 02:50:48'::TIMESTAMP AND Date IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "b",
                            "field_name": "UserId"
                        }
                    ]
                }
            ],
            "condition": "(b.UserId >= 3)"
        },
        "u": {
            "name": "FILTER",
            "execution_time": 0.000104,
            "actual_rows": 39991,
            "estimated_cardinality": 8065,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000183,
                    "actual_rows": 39993,
                    "estimated_cardinality": 8065,
                    "children": [],
                    "relation": "users",
                    "opt_filter": "Reputation>=1 AND Reputation<=1443 AND Reputation IS NOT NULL AND DownVotes>=0 AND DownVotes<=3 AND DownVotes IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "u",
                            "field_name": "Id"
                        }
                    ]
                }
            ],
            "condition": "(u.Id BETWEEN 3 AND 55746)"
        }
    }
}