{
    "semijoin_plan": {
        "guard": "ph",
        "children": [
            {
                "guard": "c",
                "children": [
                    {
                        "guard": "u",
                        "children": []
                    }
                ]
            }
        ]
    },
    "replacements": {
        "ph": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000801,
            "actual_rows": 277348,
            "estimated_cardinality": 303187,
            "children": [],
            "relation": "postHistory",
            "opt_filter": "UserId>=3 AND UserId IS NOT NULL",
            "projection": [
                {
                    "table_name": "ph",
                    "field_name": "UserId"
                }
            ]
        },
        "c": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00013,
            "actual_rows": 174305,
            "estimated_cardinality": 174305,
            "children": [],
            "relation": "comments",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "c",
                    "field_name": "UserId"
                }
            ]
        },
        "u": {
            "name": "FILTER",
            "execution_time": 9.7e-05,
            "actual_rows": 38103,
            "estimated_cardinality": 8065,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000244,
                    "actual_rows": 38103,
                    "estimated_cardinality": 8065,
                    "children": [],
                    "relation": "users",
                    "opt_filter": "Reputation>=1 AND Reputation<=487 AND Reputation IS NOT NULL AND UpVotes<=27 AND UpVotes IS NOT NULL AND CreationDate>='2010-10-22 22:40:35'::TIMESTAMP AND CreationDate<='2014-09-10 17:01:31'::TIMESTAMP AND CreationDate IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "u",
                            "field_name": "Id"
                        }
                    ]
                }
            ],
            "condition": "(u.Id BETWEEN 3 AND 55746)"
        }
    }
}