{
    "semijoin_plan": {
        "guard": "ph",
        "children": [
            {
                "guard": "v",
                "children": [
                    {
                        "guard": "b",
                        "children": [
                            {
                                "guard": "u",
                                "children": []
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "ph": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.001001,
            "actual_rows": 277294,
            "estimated_cardinality": 303187,
            "children": [],
            "relation": "postHistory",
            "opt_filter": "UserId>=2 AND UserId<=55706 AND UserId IS NOT NULL",
            "projection": [
                {
                    "table_name": "ph",
                    "field_name": "UserId"
                }
            ]
        },
        "v": {
            "name": "FILTER",
            "execution_time": 0.000709,
            "actual_rows": 34681,
            "estimated_cardinality": 65612,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.001772,
                    "actual_rows": 327234,
                    "estimated_cardinality": 65612,
                    "children": [],
                    "relation": "votes",
                    "opt_filter": "CreationDate<='2014-09-10 00:00:00'::TIMESTAMP AND CreationDate IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "v",
                            "field_name": "UserId"
                        }
                    ]
                }
            ],
            "condition": "(v.UserId >= 2)"
        },
        "b": {
            "name": "FILTER",
            "execution_time": 0.000107,
            "actual_rows": 79641,
            "estimated_cardinality": 15970,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000195,
                    "actual_rows": 79654,
                    "estimated_cardinality": 15970,
                    "children": [],
                    "relation": "badges",
                    "opt_filter": "Date>='2010-07-19 21:54:06'::TIMESTAMP AND Date IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "b",
                            "field_name": "UserId"
                        }
                    ]
                }
            ],
            "condition": "(b.UserId <= 55706)"
        },
        "u": {
            "name": "FILTER",
            "execution_time": 0.000102,
            "actual_rows": 39794,
            "estimated_cardinality": 8065,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000179,
                    "actual_rows": 39835,
                    "estimated_cardinality": 8065,
                    "children": [],
                    "relation": "users",
                    "opt_filter": "DownVotes>=0 AND DownVotes<=3 AND DownVotes IS NOT NULL AND UpVotes>=0 AND UpVotes<=71 AND UpVotes IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "u",
                            "field_name": "Id"
                        }
                    ]
                }
            ],
            "condition": "(u.Id BETWEEN 2 AND 55706)"
        }
    }
}