{
    "semijoin_plan": {
        "guard": "v",
        "children": [
            {
                "guard": "ph",
                "children": [
                    {
                        "guard": "c",
                        "children": [
                            {
                                "guard": "p",
                                "children": [
                                    {
                                        "guard": "b",
                                        "children": [
                                            {
                                                "guard": "u",
                                                "children": []
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "v": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000313,
            "actual_rows": 328064,
            "estimated_cardinality": 328064,
            "children": [],
            "relation": "votes",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "v",
                    "field_name": "PostId"
                }
            ]
        },
        "ph": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00041,
            "actual_rows": 303183,
            "estimated_cardinality": 303187,
            "children": [],
            "relation": "postHistory",
            "opt_filter": "PostId<=115376 AND PostId IS NOT NULL",
            "projection": [
                {
                    "table_name": "ph",
                    "field_name": "PostId"
                }
            ]
        },
        "c": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000133,
            "actual_rows": 174305,
            "estimated_cardinality": 174305,
            "children": [],
            "relation": "comments",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "c",
                    "field_name": "PostId"
                }
            ]
        },
        "p": {
            "name": "FILTER",
            "execution_time": 0.000126,
            "actual_rows": 42188,
            "estimated_cardinality": 18395,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000611,
                    "actual_rows": 42921,
                    "estimated_cardinality": 18395,
                    "children": [],
                    "relation": "posts",
                    "opt_filter": "AnswerCount>=0 AND AnswerCount IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "p",
                            "field_name": "OwnerUserId"
                        },
                        {
                            "table_name": "p",
                            "field_name": "Id"
                        }
                    ]
                }
            ],
            "condition": "(p.OwnerUserId >= 2)"
        },
        "b": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000187,
            "actual_rows": 79683,
            "estimated_cardinality": 15970,
            "children": [],
            "relation": "badges",
            "opt_filter": "Date<='2014-09-11 21:46:02'::TIMESTAMP AND Date IS NOT NULL",
            "projection": [
                {
                    "table_name": "b",
                    "field_name": "UserId"
                }
            ]
        },
        "u": {
            "name": "FILTER",
            "execution_time": 0.000105,
            "actual_rows": 39854,
            "estimated_cardinality": 8065,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000159,
                    "actual_rows": 39856,
                    "estimated_cardinality": 8065,
                    "children": [],
                    "relation": "users",
                    "opt_filter": "Reputation>=1 AND Reputation<=642 AND Reputation IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "u",
                            "field_name": "Id"
                        }
                    ]
                }
            ],
            "condition": "(u.Id BETWEEN 2 AND 55746)"
        }
    }
}