{
    "semijoin_plan": {
        "guard": "v",
        "children": [
            {
                "guard": "ph",
                "children": [
                    {
                        "guard": "p",
                        "children": [
                            {
                                "guard": "u",
                                "children": []
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "v": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00025,
            "actual_rows": 328064,
            "estimated_cardinality": 328064,
            "children": [],
            "relation": "votes",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "v",
                    "field_name": "PostId"
                }
            ]
        },
        "ph": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000247,
            "actual_rows": 303187,
            "estimated_cardinality": 303187,
            "children": [],
            "relation": "postHistory",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "ph",
                    "field_name": "PostId"
                }
            ]
        },
        "u": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 5.8e-05,
            "actual_rows": 40324,
            "estimated_cardinality": 40325,
            "children": [],
            "relation": "users",
            "opt_filter": "Id<=55746 AND Id IS NOT NULL",
            "projection": [
                {
                    "table_name": "u",
                    "field_name": "Id"
                }
            ]
        },
        "p": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000751,
            "actual_rows": 42291,
            "estimated_cardinality": 18396,
            "children": [],
            "relation": "posts",
            "opt_filter": "PostTypeId=1 AND PostTypeId IS NOT NULL AND Score>=-1 AND Score IS NOT NULL AND CommentCount>=0 AND CommentCount<=11 AND CommentCount IS NOT NULL",
            "projection": [
                {
                    "table_name": "p",
                    "field_name": "Id"
                },
                {
                    "table_name": "p",
                    "field_name": "OwnerUserId"
                }
            ]
        }
    }
}