{
    "semijoin_plan": {
        "guard": "v",
        "children": [
            {
                "guard": "ph",
                "children": [
                    {
                        "guard": "p",
                        "children": [
                            {
                                "guard": "c",
                                "children": []
                            },
                            {
                                "guard": "u",
                                "children": []
                            },
                            {
                                "guard": "b",
                                "children": []
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "v": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000337,
            "actual_rows": 328064,
            "estimated_cardinality": 328064,
            "children": [],
            "relation": "votes",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "v",
                    "field_name": "PostId"
                }
            ]
        },
        "ph": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000442,
            "actual_rows": 303183,
            "estimated_cardinality": 303187,
            "children": [],
            "relation": "postHistory",
            "opt_filter": "PostId<=115376 AND PostId IS NOT NULL",
            "projection": [
                {
                    "table_name": "ph",
                    "field_name": "PostId"
                }
            ]
        },
        "b": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 5.6e-05,
            "actual_rows": 79851,
            "estimated_cardinality": 79851,
            "children": [],
            "relation": "badges",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "b",
                    "field_name": "UserId"
                }
            ]
        },
        "u": {
            "name": "FILTER",
            "execution_time": 5.6e-05,
            "actual_rows": 39110,
            "estimated_cardinality": 8065,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.00017,
                    "actual_rows": 39111,
                    "estimated_cardinality": 8065,
                    "children": [],
                    "relation": "users",
                    "opt_filter": "Reputation<=312 AND Reputation IS NOT NULL AND DownVotes<=0 AND DownVotes IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "u",
                            "field_name": "Id"
                        }
                    ]
                }
            ],
            "condition": "(u.Id <= 55746)"
        },
        "p": {
            "name": "FILTER",
            "execution_time": 6.7e-05,
            "actual_rows": 40093,
            "estimated_cardinality": 18395,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.001145,
                    "actual_rows": 40093,
                    "estimated_cardinality": 18395,
                    "children": [],
                    "relation": "posts",
                    "opt_filter": "CommentCount>=0 AND CommentCount<=11 AND CommentCount IS NOT NULL AND AnswerCount<=4 AND AnswerCount IS NOT NULL AND ViewCount>=0 AND ViewCount<=5977 AND ViewCount IS NOT NULL AND Score>=-4 AND Score IS NOT NULL AND CreationDate>='2011-01-25 08:31:41'::TIMESTAMP AND CreationDate IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "p",
                            "field_name": "OwnerUserId"
                        },
                        {
                            "table_name": "p",
                            "field_name": "Id"
                        }
                    ]
                }
            ],
            "condition": "(p.Id <= 115376)"
        },
        "c": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000902,
            "actual_rows": 134204,
            "estimated_cardinality": 9684,
            "children": [],
            "relation": "comments",
            "opt_filter": "CreationDate<='2014-09-09 19:58:29'::TIMESTAMP AND CreationDate IS NOT NULL AND Score=0 AND Score IS NOT NULL",
            "projection": [
                {
                    "table_name": "c",
                    "field_name": "PostId"
                }
            ]
        }
    }
}