{
    "semijoin_plan": {
        "guard": "c",
        "children": [
            {
                "guard": "p",
                "children": [
                    {
                        "guard": "pl",
                        "children": []
                    }
                ]
            }
        ]
    },
    "replacements": {
        "c": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000612,
            "actual_rows": 134887,
            "estimated_cardinality": 9684,
            "children": [],
            "relation": "comments",
            "opt_filter": "Score=0 AND Score IS NOT NULL",
            "projection": [
                {
                    "table_name": "c",
                    "field_name": "UserId"
                }
            ]
        },
        "p": {
            "name": "FILTER",
            "execution_time": 0.00046,
            "actual_rows": 88137,
            "estimated_cardinality": 18395,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.00032,
                    "actual_rows": 89551,
                    "estimated_cardinality": 18395,
                    "children": [],
                    "relation": "posts",
                    "opt_filter": "CreationDate>='2010-09-06 00:58:21'::TIMESTAMP AND CreationDate<='2014-09-12 10:02:21'::TIMESTAMP AND CreationDate IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "p",
                            "field_name": "OwnerUserId"
                        },
                        {
                            "table_name": "p",
                            "field_name": "Id"
                        }
                    ]
                }
            ],
            "condition": "((p.OwnerUserId >= 3) AND (p.Id BETWEEN 4 AND 115360))"
        },
        "pl": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 5.5e-05,
            "actual_rows": 9480,
            "estimated_cardinality": 5551,
            "children": [],
            "relation": "postLinks",
            "opt_filter": "LinkTypeId=1 AND LinkTypeId IS NOT NULL AND CreationDate>='2011-07-09 22:35:44'::TIMESTAMP AND CreationDate IS NOT NULL",
            "projection": [
                {
                    "table_name": "pl",
                    "field_name": "PostId"
                }
            ]
        }
    }
}