{
    "semijoin_plan": {
        "guard": "ph",
        "children": [
            {
                "guard": "c",
                "children": [
                    {
                        "guard": "u",
                        "children": []
                    }
                ]
            }
        ]
    },
    "replacements": {
        "ph": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000854,
            "actual_rows": 277348,
            "estimated_cardinality": 303187,
            "children": [],
            "relation": "postHistory",
            "opt_filter": "UserId>=3 AND UserId IS NOT NULL",
            "projection": [
                {
                    "table_name": "ph",
                    "field_name": "UserId"
                }
            ]
        },
        "c": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000499,
            "actual_rows": 172293,
            "estimated_cardinality": 34861,
            "children": [],
            "relation": "comments",
            "opt_filter": "CreationDate>='2010-08-09 07:24:50'::TIMESTAMP AND CreationDate<='2014-09-10 03:46:02'::TIMESTAMP AND CreationDate IS NOT NULL",
            "projection": [
                {
                    "table_name": "c",
                    "field_name": "UserId"
                }
            ]
        },
        "u": {
            "name": "FILTER",
            "execution_time": 0.000103,
            "actual_rows": 39443,
            "estimated_cardinality": 8065,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.000217,
                    "actual_rows": 39444,
                    "estimated_cardinality": 8065,
                    "children": [],
                    "relation": "users",
                    "opt_filter": "Views<=80 AND Views IS NOT NULL AND CreationDate>='2010-08-02 20:31:12'::TIMESTAMP AND CreationDate IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "u",
                            "field_name": "Id"
                        }
                    ]
                }
            ],
            "condition": "(u.Id BETWEEN 3 AND 55746)"
        }
    }
}