{
    "semijoin_plan": {
        "guard": "mi",
        "children": [
            {
                "guard": "mc",
                "children": [
                    {
                        "guard": "t",
                        "children": [
                            {
                                "guard": "mi_idx",
                                "children": [
                                    {
                                        "guard": "it2",
                                        "children": []
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "guard": "cn",
                        "children": []
                    },
                    {
                        "guard": "ct",
                        "children": []
                    }
                ]
            },
            {
                "guard": "it1",
                "children": []
            }
        ]
    },
    "replacements": {
        "mi": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.239875,
            "actual_rows": 14834457,
            "estimated_cardinality": 14835720,
            "children": [],
            "relation": "movie_info",
            "opt_filter": "movie_id>=2 AND movie_id<=2525745 AND movie_id IS NOT NULL",
            "projection": [
                {
                    "table_name": "mi",
                    "field_name": "movie_id"
                },
                {
                    "table_name": "mi",
                    "field_name": "info_type_id"
                },
                {
                    "table_name": "mi",
                    "field_name": "info"
                }
            ]
        },
        "cn": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.003042,
            "actual_rows": 84843,
            "estimated_cardinality": 1425,
            "children": [],
            "relation": "company_name",
            "opt_filter": "country_code='[us]' AND country_code IS NOT NULL",
            "projection": [
                {
                    "table_name": "cn",
                    "field_name": "id"
                }
            ]
        },
        "mc": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.005786,
            "actual_rows": 2609129,
            "estimated_cardinality": 2609129,
            "children": [],
            "relation": "movie_companies",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "mc",
                    "field_name": "movie_id"
                },
                {
                    "table_name": "mc",
                    "field_name": "company_type_id"
                },
                {
                    "table_name": "mc",
                    "field_name": "company_id"
                }
            ]
        },
        "t": {
            "name": "FILTER",
            "execution_time": 0.029435,
            "actual_rows": 2534,
            "estimated_cardinality": 101132,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.090734,
                    "actual_rows": 1381453,
                    "estimated_cardinality": 101132,
                    "children": [],
                    "relation": "title",
                    "opt_filter": "production_year>2000 AND production_year IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "t",
                            "field_name": "title"
                        },
                        {
                            "table_name": "t",
                            "field_name": "id"
                        }
                    ]
                }
            ],
            "condition": "((t.id BETWEEN 2 AND 2525793) AND (t.title LIKE 'Birdemic%' OR t.title LIKE '%Movie%'))"
        },
        "mi_idx": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.002292,
            "actual_rows": 1380035,
            "estimated_cardinality": 1380035,
            "children": [],
            "relation": "movie_info_idx",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "mi_idx",
                    "field_name": "movie_id"
                },
                {
                    "table_name": "mi_idx",
                    "field_name": "info_type_id"
                }
            ]
        },
        "it2": {
            "name": "FILTER",
            "execution_time": 2e-06,
            "actual_rows": 1,
            "estimated_cardinality": 1,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 5e-06,
                    "actual_rows": 1,
                    "estimated_cardinality": 1,
                    "children": [],
                    "relation": "info_type",
                    "opt_filter": "info='bottom 10 rank' AND info IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "it2",
                            "field_name": "id"
                        }
                    ]
                }
            ],
            "condition": "(it2.id >= 99)"
        },
        "ct": {
            "name": "FILTER",
            "execution_time": 1e-05,
            "actual_rows": 2,
            "estimated_cardinality": 1,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 3e-06,
                    "actual_rows": 2,
                    "estimated_cardinality": 1,
                    "children": [],
                    "relation": "company_type",
                    "opt_filter": "id<=2 AND id IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "ct",
                            "field_name": "kind"
                        },
                        {
                            "table_name": "ct",
                            "field_name": "id"
                        }
                    ]
                }
            ],
            "condition": "((ct.kind = 'production companies') OR (ct.kind = 'distributors'))"
        },
        "it1": {
            "name": "FILTER",
            "execution_time": 3e-06,
            "actual_rows": 1,
            "estimated_cardinality": 1,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 7e-06,
                    "actual_rows": 1,
                    "estimated_cardinality": 1,
                    "children": [],
                    "relation": "info_type",
                    "opt_filter": "info='budget' AND info IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "it1",
                            "field_name": "id"
                        }
                    ]
                }
            ],
            "condition": "(it1.id <= 110)"
        }
    }
}