{
    "semijoin_plan": {
        "guard": "mi",
        "children": [
            {
                "guard": "mc",
                "children": [
                    {
                        "guard": "t",
                        "children": [
                            {
                                "guard": "cc",
                                "children": [
                                    {
                                        "guard": "ml",
                                        "children": [
                                            {
                                                "guard": "mk",
                                                "children": [
                                                    {
                                                        "guard": "k",
                                                        "children": []
                                                    }
                                                ]
                                            },
                                            {
                                                "guard": "lt",
                                                "children": []
                                            }
                                        ]
                                    },
                                    {
                                        "guard": "cct1",
                                        "children": []
                                    },
                                    {
                                        "guard": "cct2",
                                        "children": []
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "guard": "cn",
                        "children": []
                    },
                    {
                        "guard": "ct",
                        "children": []
                    }
                ]
            }
        ]
    },
    "replacements": {
        "mi": {
            "name": "PROJECTION",
            "execution_time": 4e-06,
            "actual_rows": 33835,
            "estimated_cardinality": null,
            "children": [
                {
                    "name": "FILTER",
                    "execution_time": 0.002894,
                    "actual_rows": 33835,
                    "estimated_cardinality": 2967144,
                    "children": [
                        {
                            "name": "PROJECTION",
                            "execution_time": 0.000104,
                            "actual_rows": 936223,
                            "estimated_cardinality": null,
                            "children": [
                                {
                                    "name": "FILTER",
                                    "execution_time": 0.011858,
                                    "actual_rows": 936223,
                                    "estimated_cardinality": 2967144,
                                    "children": [
                                        {
                                            "name": "SEQUENTIALSCAN",
                                            "execution_time": 0.198794,
                                            "actual_rows": 14835720,
                                            "estimated_cardinality": 14835720,
                                            "children": [],
                                            "relation": "movie_info",
                                            "opt_filter": null,
                                            "projection": [
                                                {
                                                    "table_name": "mi",
                                                    "field_name": "info"
                                                },
                                                {
                                                    "table_name": "mi",
                                                    "field_name": "movie_id"
                                                }
                                            ]
                                        }
                                    ],
                                    "condition": "mi.info IN ('Sweden',\n                  'Norway',\n                  'Germany',\n                  'Denmark',\n                  'Swedish',\n                  'Denish',\n                  'Norwegian',\n                  'German',\n                  'English')"
                                }
                            ],
                            "on": [
                                {
                                    "table_name": "mi",
                                    "field_name": "movie_id"
                                }
                            ]
                        }
                    ],
                    "condition": "(mi.movie_id BETWEEN 285 AND 186175)"
                }
            ],
            "on": [
                {
                    "table_name": "mi",
                    "field_name": "movie_id"
                }
            ]
        },
        "cct2": {
            "name": "FILTER",
            "execution_time": 4e-06,
            "actual_rows": 2,
            "estimated_cardinality": 1,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 4e-06,
                    "actual_rows": 2,
                    "estimated_cardinality": 1,
                    "children": [],
                    "relation": "comp_cast_type",
                    "opt_filter": "kind>='complete' AND kind<'completf' AND kind IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "cct2",
                            "field_name": "kind"
                        },
                        {
                            "table_name": "cct2",
                            "field_name": "id"
                        }
                    ]
                }
            ],
            "condition": "((cct2.id >= 3) AND cct2.kind LIKE 'complete%')"
        },
        "cct1": {
            "name": "FILTER",
            "execution_time": 2e-06,
            "actual_rows": 1,
            "estimated_cardinality": 1,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 3e-06,
                    "actual_rows": 1,
                    "estimated_cardinality": 1,
                    "children": [],
                    "relation": "comp_cast_type",
                    "opt_filter": "kind='cast' AND kind IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "cct1",
                            "field_name": "id"
                        }
                    ]
                }
            ],
            "condition": "(cct1.id <= 2)"
        },
        "ct": {
            "name": "FILTER",
            "execution_time": 4e-06,
            "actual_rows": 1,
            "estimated_cardinality": 1,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 5e-06,
                    "actual_rows": 1,
                    "estimated_cardinality": 1,
                    "children": [],
                    "relation": "company_type",
                    "opt_filter": "kind='production companies' AND kind IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "ct",
                            "field_name": "id"
                        }
                    ]
                }
            ],
            "condition": "(ct.id <= 2)"
        },
        "cn": {
            "name": "FILTER",
            "execution_time": 0.005656,
            "actual_rows": 48302,
            "estimated_cardinality": 46999,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.008322,
                    "actual_rows": 234997,
                    "estimated_cardinality": 46999,
                    "children": [],
                    "relation": "company_name",
                    "opt_filter": null,
                    "projection": [
                        {
                            "table_name": "cn",
                            "field_name": "country_code"
                        },
                        {
                            "table_name": "cn",
                            "field_name": "name"
                        },
                        {
                            "table_name": "cn",
                            "field_name": "id"
                        }
                    ]
                }
            ],
            "condition": "((cn.country_code != '[pl]') AND (cn.name LIKE '%Film%' OR cn.name LIKE '%Warner%'))"
        },
        "mc": {
            "name": "FILTER",
            "execution_time": 0.000219,
            "actual_rows": 49060,
            "estimated_cardinality": 521825,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.002608,
                    "actual_rows": 99670,
                    "estimated_cardinality": 521825,
                    "children": [],
                    "relation": "movie_companies",
                    "opt_filter": "movie_id>=285 AND movie_id<=186175 AND movie_id IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "mc",
                            "field_name": "note"
                        },
                        {
                            "table_name": "mc",
                            "field_name": "movie_id"
                        },
                        {
                            "table_name": "mc",
                            "field_name": "company_type_id"
                        },
                        {
                            "table_name": "mc",
                            "field_name": "company_id"
                        }
                    ]
                }
            ],
            "condition": "(mc.note IS NULL)"
        },
        "t": {
            "name": "FILTER",
            "execution_time": 0.005225,
            "actual_rows": 145118,
            "estimated_cardinality": 505662,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.088659,
                    "actual_rows": 1900368,
                    "estimated_cardinality": 505662,
                    "children": [],
                    "relation": "title",
                    "opt_filter": "production_year>=1950 AND production_year<=2010 AND production_year IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "t",
                            "field_name": "id"
                        },
                        {
                            "table_name": "t",
                            "field_name": "title"
                        }
                    ]
                }
            ],
            "condition": "(t.id BETWEEN 285 AND 186175)"
        },
        "lt": {
            "name": "FILTER",
            "execution_time": 6e-06,
            "actual_rows": 2,
            "estimated_cardinality": 3,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 4e-06,
                    "actual_rows": 17,
                    "estimated_cardinality": 3,
                    "children": [],
                    "relation": "link_type",
                    "opt_filter": "id<=17 AND id IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "lt",
                            "field_name": "link"
                        },
                        {
                            "table_name": "lt",
                            "field_name": "id"
                        }
                    ]
                }
            ],
            "condition": "lt.link LIKE '%follow%'"
        },
        "cc": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.00021,
            "actual_rows": 5992,
            "estimated_cardinality": 135086,
            "children": [],
            "relation": "complete_cast",
            "opt_filter": "movie_id<=186175 AND movie_id IS NOT NULL",
            "projection": [
                {
                    "table_name": "cc",
                    "field_name": "movie_id"
                },
                {
                    "table_name": "cc",
                    "field_name": "subject_id"
                },
                {
                    "table_name": "cc",
                    "field_name": "status_id"
                }
            ]
        },
        "ml": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 7.7e-05,
            "actual_rows": 29997,
            "estimated_cardinality": 29997,
            "children": [],
            "relation": "movie_link",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "ml",
                    "field_name": "link_type_id"
                },
                {
                    "table_name": "ml",
                    "field_name": "movie_id"
                }
            ]
        },
        "mk": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000401,
            "actual_rows": 97854,
            "estimated_cardinality": 4523930,
            "children": [],
            "relation": "movie_keyword",
            "opt_filter": "movie_id<=186175 AND movie_id IS NOT NULL",
            "projection": [
                {
                    "table_name": "mk",
                    "field_name": "movie_id"
                },
                {
                    "table_name": "mk",
                    "field_name": "keyword_id"
                }
            ]
        },
        "k": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.003912,
            "actual_rows": 1,
            "estimated_cardinality": 1,
            "children": [],
            "relation": "keyword",
            "opt_filter": "keyword='sequel' AND keyword IS NOT NULL",
            "projection": [
                {
                    "table_name": "k",
                    "field_name": "id"
                }
            ]
        }
    }
}