{
    "semijoin_plan": {
        "guard": "t1",
        "children": [
            {
                "guard": "ml",
                "children": [
                    {
                        "guard": "mk",
                        "children": [
                            {
                                "guard": "k",
                                "children": []
                            }
                        ]
                    },
                    {
                        "guard": "lt",
                        "children": []
                    },
                    {
                        "guard": "t2",
                        "children": []
                    }
                ]
            }
        ]
    },
    "replacements": {
        "t1": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.007744,
            "actual_rows": 186174,
            "estimated_cardinality": 2528312,
            "children": [],
            "relation": "title",
            "opt_filter": "id>=2 AND id<=186175 AND id IS NOT NULL",
            "projection": [
                {
                    "table_name": "t1",
                    "field_name": "id"
                },
                {
                    "table_name": "t1",
                    "field_name": "title"
                }
            ]
        },
        "t2": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.092255,
            "actual_rows": 2524711,
            "estimated_cardinality": 2528312,
            "children": [],
            "relation": "title",
            "opt_filter": "id>=284 AND id<=2524994 AND id IS NOT NULL",
            "projection": [
                {
                    "table_name": "t2",
                    "field_name": "id"
                },
                {
                    "table_name": "t2",
                    "field_name": "title"
                }
            ]
        },
        "lt": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 4e-06,
            "actual_rows": 17,
            "estimated_cardinality": 18,
            "children": [],
            "relation": "link_type",
            "opt_filter": "id<=17 AND id IS NOT NULL",
            "projection": [
                {
                    "table_name": "lt",
                    "field_name": "id"
                },
                {
                    "table_name": "lt",
                    "field_name": "link"
                }
            ]
        },
        "ml": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 9.9e-05,
            "actual_rows": 29997,
            "estimated_cardinality": 29997,
            "children": [],
            "relation": "movie_link",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "ml",
                    "field_name": "movie_id"
                },
                {
                    "table_name": "ml",
                    "field_name": "linked_movie_id"
                },
                {
                    "table_name": "ml",
                    "field_name": "link_type_id"
                }
            ]
        },
        "mk": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.000393,
            "actual_rows": 97854,
            "estimated_cardinality": 4523930,
            "children": [],
            "relation": "movie_keyword",
            "opt_filter": "movie_id<=186175 AND movie_id IS NOT NULL",
            "projection": [
                {
                    "table_name": "mk",
                    "field_name": "keyword_id"
                },
                {
                    "table_name": "mk",
                    "field_name": "movie_id"
                }
            ]
        },
        "k": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.003821,
            "actual_rows": 1,
            "estimated_cardinality": 1,
            "children": [],
            "relation": "keyword",
            "opt_filter": "keyword='character-name-in-title' AND keyword IS NOT NULL",
            "projection": [
                {
                    "table_name": "k",
                    "field_name": "id"
                }
            ]
        }
    }
}