{
    "semijoin_plan": {
        "guard": "n",
        "children": [
            {
                "guard": "ci",
                "children": [
                    {
                        "guard": "t",
                        "children": [
                            {
                                "guard": "mk",
                                "children": [
                                    {
                                        "guard": "k",
                                        "children": []
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    },
    "replacements": {
        "n": {
            "name": "FILTER",
            "execution_time": 0.047045,
            "actual_rows": 2,
            "estimated_cardinality": 833498,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.125589,
                    "actual_rows": 4061926,
                    "estimated_cardinality": 833498,
                    "children": [],
                    "relation": "name",
                    "opt_filter": "id<=4061926 AND id IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "n",
                            "field_name": "name"
                        },
                        {
                            "table_name": "n",
                            "field_name": "id"
                        }
                    ]
                }
            ],
            "condition": "(n.name LIKE '%Downey%Robert%')"
        },
        "ci": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.104231,
            "actual_rows": 36244327,
            "estimated_cardinality": 36244344,
            "children": [],
            "relation": "cast_info",
            "opt_filter": "movie_id>=2 AND movie_id<=2525971 AND movie_id IS NOT NULL",
            "projection": [
                {
                    "table_name": "ci",
                    "field_name": "movie_id"
                },
                {
                    "table_name": "ci",
                    "field_name": "person_id"
                }
            ]
        },
        "t": {
            "name": "FILTER",
            "execution_time": 0.003851,
            "actual_rows": 1381132,
            "estimated_cardinality": 505662,
            "children": [
                {
                    "name": "SEQUENTIALSCAN",
                    "execution_time": 0.089927,
                    "actual_rows": 1381453,
                    "estimated_cardinality": 505662,
                    "children": [],
                    "relation": "title",
                    "opt_filter": "production_year>2000 AND production_year IS NOT NULL",
                    "projection": [
                        {
                            "table_name": "t",
                            "field_name": "id"
                        },
                        {
                            "table_name": "t",
                            "field_name": "title"
                        }
                    ]
                }
            ],
            "condition": "(t.id BETWEEN 2 AND 2525971)"
        },
        "mk": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.008694,
            "actual_rows": 4523930,
            "estimated_cardinality": 4523930,
            "children": [],
            "relation": "movie_keyword",
            "opt_filter": null,
            "projection": [
                {
                    "table_name": "mk",
                    "field_name": "keyword_id"
                },
                {
                    "table_name": "mk",
                    "field_name": "movie_id"
                }
            ]
        },
        "k": {
            "name": "SEQUENTIALSCAN",
            "execution_time": 0.003872,
            "actual_rows": 1,
            "estimated_cardinality": 1,
            "children": [],
            "relation": "keyword",
            "opt_filter": "keyword='marvel-cinematic-universe' AND keyword IS NOT NULL",
            "projection": [
                {
                    "table_name": "k",
                    "field_name": "keyword"
                },
                {
                    "table_name": "k",
                    "field_name": "id"
                }
            ]
        }
    }
}